[2019-02-08 19:18] qobilidop commented on #2072
This might be a bad idea, but I'm wondering if these SPH functionalities could be extracted into a separate package, just like unyt? I feel these functionalites like SPH pixelization and  smoothing length calculation are not tightly coupled to any frontend, or the yt data representation in general. The low-level Cython functions operate on arrays as far as I know. If extracted into a separate pack

[2019-02-08 19:25] ngoldbaum commented on #2072
Perhaps, although I think spelling it "from yt.utilities.sph_utilties import foo" vs "from sph_utilities import foo" doesn't really make much difference. Is there some other advantage you see from factoring this out?

Note also that this package would need to depend on cykdtree at a binary level and would have cython code, so you wouldn't get out of any packaging headaches doing that.

I think it

[2019-02-08 19:45] qobilidop commented on #2072
Sorry I deleted my original comment thinking it's immature after posting, which is pasted below:

Thanks for your kind reply. Yes, I'm mostly thinking about the lower-level API for SPH smoothing on arrays directly. Then a workaround for handling non-SPH particles would be pixelizing with a smoothing length array calculated elsewhere using this lower-level API. It's indeed not solving the high-leve

[2019-02-08 19:48] ngoldbaum commented on #2072
I don't think your comment was immature! I'm sorry my tone made you feel that way, that was not my intent. It's definitely a fair question. I was just trying to explain why I think we need to worry about other things before it makes sense to discuss factoring the low-level SPH utilities into a new package.

[2019-02-08 20:17] MattACDC opened #2147 "Parsing Ramses data"
### Bug report

**Bug summary**

Trying to use methods `index` or `field` on data loaded from Ramses simulation result in the error
`OSError: Sizes do not agree in the header and footer for this record - check header dtype`

**Code for reproduction**
Using data from [this dataset](http://use.yt/upload/d27b1089), for example in `output_00001 `(works as well with `output_00002 `and `output_00003`)
[

[2019-02-08 22:04] cphyc commented on #2147
Hi Matt,
I have downloaded the dataset but I've been unable to reproduce the bug.

I can't understand why you're getting the error message but not me as we have the same version of yt (and the same files) but maybe you could try to uninstall and reinstall yt? The only difference I would see is the fact you're running on Windows (I am running on Linux).

[2019-02-08 22:05] cphyc commented on #2147
Could you try reproducing the bug on another machine with another OS?

[2019-02-08 22:16] ngoldbaum commented on #2147
I have access to a Windows machine, I can try to reproduce on Monday.

[2019-02-09 13:53] MattACDC commented on #2147
Hi there,

To be sure, I have updated Anaconda, conda and then all my librairies, but
the bug still shows. For now, I don't have access to another OS.

On Fri, 8 Feb 2019 at 22:16, Nathan Goldbaum <notifications@github.com>
wrote:

[2019-02-15 21:08] MatthewTurk commented on #2147
One possibility is an endianness problem.  @cphyc is it possible to get diagnostic info about expected and actual sizes?

[2019-02-15 21:10] ngoldbaum commented on #2147
Sorry, I still need to try to debug this in a windows VM...

[2019-02-16 08:56] MattACDC commented on #2147
Sorry, I have tried to install the Mint distro on my computer this week to
test the bug, but so far I have issues.

On Fri, 15 Feb 2019, 9:10 pm Nathan Goldbaum <notifications@github.com
wrote:

[2019-02-16 10:37] cphyc commented on #2147
That could be an endianness problem @MatthewTurk, as the cython code that reads data always assumes OS endianness, so if the dataset was created on a big-endian computer and is being read on a little-endian, that may be an issue.

[2019-02-16 10:42] MattACDC commented on #2147
I will check what Unix it was computed on, and whether it is little or  if
endian.

On Sat, 16 Feb 2019, 10:37 am Corentin Cadiou <notifications@github.com
wrote:

[2019-02-16 12:49] MattACDC commented on #2147
It was computed on a linux-based SGI Altix ICE cluster. I have run lscpu
on it, it says Little Endian. I think that Windows 10 run on a
Core-i7-4510U is Little Endian too.

On Sat, 16 Feb 2019 at 10:42, Matthieu Tricottet <
matthieu.tricottet@gmail.com> wrote:

[2019-02-18 17:18] ngoldbaum commented on #2147
I can reproduce this on a windows VM.

[2019-02-18 21:13] ngoldbaum commented on #2147
I've opened a pull request to fix this: https://github.com/yt-project/yt/pull/2152

[2019-02-19 03:52] #2147 closed

[2019-02-20 00:41] qobilidop commented on #2072
Here's an example of what I'm thinking about: https://gist.github.com/qobilidop/a8c3b4777c94f160442af0446d191ace

For the original issue, I'm proposing using this low-level API to do SPH visualization with arbitrary arrays as a workaround.

[2019-02-22 22:02] dcollins4096 opened #2154 "Projecting 1024^3 Enzo runs out of memory."
### Bug report

**Bug summary**

Trying to project in parallel causes an out-of-memory error.  The test is a 1024^3 unigrid Enzo simulation, run on 4096 cores/tiles, adiabatic MHD with Dedner and random forcing.  The dataset has 16 fields, so one snapshot is 129Gb.

**Code for reproduction**

[code]

The parameter file in equivalent to `run/MHD/3D/StochasticForcing/StochasticForcing.enzo ` with Du

[2019-02-22 22:03] ngoldbaum commented on #2154
I believe @atmyers ran into a similar issue at one point and might have thoughts.

[2019-02-22 22:10] atmyers commented on #2154
I found that turning off mask caching helped with memory usage:

`
diff --git a/yt/data_objects/grid_patch.py b/yt/data_objects/grid_patch.py
index 966f0a068..e826e4f78 100644
--- a/yt/data_objects/grid_patch.py
+++ b/yt/data_objects/grid_patch.py
@@ -42,7 +42,7 @@ class AMRGridPatch(YTSelectionContainer):
     _num_ghost_zones = 0
     _grids = None
     _id_offset = 1
-    _cache_mask = True
+

[2019-02-25 14:16] dcollins4096 commented on #2154
That was successful, thanks!
d.

On Fri, Feb 22, 2019 at 5:10 PM Andrew Myers <notifications@github.com>
wrote:

--
-- Sent from a computer.

[2019-02-25 20:24] eteq opened #2157 "mapserver doesn't find js files"
### Bug report

**Bug summary**

When I try to run the mapserver on a (stable) conda install of yt, I get ``No such file or directory: '.../lib/python3.7/site-packages/yt/visualization/mapserver/html/map.js'``

**Code for reproduction**

``yt mapserver <any data file>``

and then try to go to the relevant local URL

**Actual outcome**

[code]

**Expected outcome**

The mapserver should have come u

[2019-02-25 20:26] ngoldbaum commented on #2157
That's odd, I guess we need to manually make sure the javascript ends up in the conda package.

[2019-02-25 20:31] eteq commented on #2157
Thanks @ngoldbaum - Should have added: this is what's in the relevent directory:
[code]
Note the presence of `map_index.html`... I wonder if this might be a `MANIFEST` problem? (bearing in mind I don't really know anything about what the build process is for the js files...)

[2019-02-25 20:38] ngoldbaum commented on #2157
So I think what happened is https://github.com/yt-project/yt/pull/1668/files removed our vendored copy of leaflet.js, but there's some other javascript that should also be included in the sdist and is now not.

[2019-02-26 00:06] eteq commented on #2157
One more troubleshooting hint: if I copy the .js and .css files from the *source* tree of yt into the `mapserver/html` directory, all seems to work perfectly.

[2019-02-26 03:06] #2157 closed

[2019-03-04 20:23] munkm commented on #2087
Fixed by #2119

[2019-03-04 20:23] #2087 closed

[2019-03-05 19:54] keltonhalbert opened #2178 "VolumeRender Transfer Functions in Linear Space"
### Bug report

**Bug summary**
Likely related to #1104

This issue is a result of trying to plot some common atmospheric simulation data related to PR #2176 - this is where the front end is implemented if testing is desired. Data can be found at

If you specify your transfer function in log space, things tend to plot relatively okay. However, if you specify information in linear space and set log

[2019-03-05 19:55] keltonhalbert commented on #2178
If this is of any contextual help, this is what the lower boundary of the volume field looks like.
![surface-streamvort](https://user-images.githubusercontent.com/1411265/53833508-52c2ae00-3f4e-11e9-8dc5-76e1fba81ec8.png)

[2019-03-05 20:49] keltonhalbert commented on #2178
After some further digging, I received a better result by also setting
[code]

This was found by accident in one of the examples. While the behavior of the volume renderer in linear space is still in question, perhaps some of the discussion can be switched to improving the clarity of this option, how it affects the user and the renderer, and how to be consistent with it.

[2019-03-05 20:51] #1736 closed

[2019-03-05 20:57] ngoldbaum opened #2180 "doc builder needs a cython version bump"
We recently bumped the minimum required version of cython on the yt-4.0 branch. This is causing the doc builder to fail on #2172. @Xarthisius can you bump cython to the newest release on the doc builder's docker image?

[2019-03-05 20:57] ngoldbaum commented on #2180
See https://tests.yt-project.org/job/yt_docs_new/247/console for an affected doc build log.

[2019-03-05 21:29] cphyc commented on #1608
Is this still relevant?

[2019-03-05 21:33] ngoldbaum commented on #1608
Fixed by #2058

[2019-03-05 21:33] #1608 closed

[2019-03-05 22:23] Xarthisius commented on #2180
[code]

[2019-03-05 22:23] #2180 closed

[2019-03-06 00:26] qobilidop commented on #1062
I believe this is taken care of in #2167.

[2019-03-06 00:26] #1062 closed

[2019-03-06 16:04] ngoldbaum opened #2192 "local deposited particle fields don't work in yt-4.0 for particle datasets"
### Bug report

**Bug summary**

Trying to plot a field like `('deposit', 'stars_cic')` will raise a `NotImplementedError`. Ultimately this is happening because there's no longer an octree to deposit the particle data onto so presumably we need to deposit directly onto images or do something else.

**Code for reproduction**

You can reproduce this right now by running `particle_filter.py` in the c

[2019-03-06 16:13] ngoldbaum commented on #2192
I think the most straightforward way forward here is to make it so `SlicePlot` and `ProjectionPlot` can do local deposit operations directly onto images (e.g. what `ParticlePlot` already does).

[2019-03-06 17:17] ngoldbaum opened #2195 "deposited artio fields have slightly different answers under yt-4.0"
This is causing answer test failures on #2172.

**Code for reproduction**

[code]

**Actual outcome**

On master this prints `201313.0 dimensionless` whereas on yt-4.0 it prints `201134.0 dimensionless`.

[2019-03-06 17:41] ngoldbaum commented on #2195
Here's a slightly modified version of the script in the description:

[code]

This uses a file I've uploaded here: http://use.yt/upload/17eccce3

On the yt-4 branch this prints:

[code]

So it looks like in all cases this is due to the deposit operation missing a single particle.

[2019-03-06 17:49] ngoldbaum commented on #2192
Another way to handle this would be to use `ds.octree` and deposit data onto the octree.

[2019-03-06 17:54] ngoldbaum opened #2196 "cyoctree tests are randomly failing on MacOS"
### Bug report

**Bug summary**

Every once in a while the mac build on travis will randomly fail in a test for cyoctree.

**Code for reproduction**

[code]

**Actual outcome**

Most of the time this passes but everyone once in a while this will fail with the following traceback:

[code]

**Expected outcome**

Test runs without error

**Version Information**

  * Operating System:
  * Python Versi

[2019-03-06 18:00] ngoldbaum commented on #2196
I made the following modification:

[code]

The node it fails on looks like this:

[code]

So it looks like `children` is either not getting initialized or is getting corrupted somehow. The crash is coming from trying to write a negative number where `struct` is expecting a uint.

@AshKelly if you have a little bit of time and interest it would be cool if you could take a look at this.

[2019-03-06 18:00] AshKelly commented on #2196
almost certainly to do with this stuff

```struct.pack('2Q3iq'```
or
```struct.pack('6d4Q?2QB'```

I'm happy to check this out

[2019-03-06 18:07] ngoldbaum commented on #2196
Ah yeah, me too :)

[code]

I'll let you issue the PR :)

[2019-03-06 19:02] nilsdeppe opened #2198 "Consider a more search-engine friendly name?"
### Bug report

**Bug summary**

First of all, thanks for creating and maintaining yt! I wanted to point out to the developers that trying to find help for yt-related issues online is extremely difficult. Searching, for example, `yt-project set image resolution` returns many unrelated results with some search engines (e.g. DuckDuckGo) and no actually helpful results for resolving the problem. Unfo

[2019-03-06 19:40] ngoldbaum commented on #2198
You may have more success searching our sphinx documentation: http://yt-project.org/doc/search.html

[2019-03-06 20:41] munkm commented on #2198
I'd like to echo @ngoldbaum 's suggestion for searching the docs. I also tried the search you mentioned  in duckduckgo and noticed that if I searched yt-project with quotes the first search result is our plots tutorial that includes setting the image size with `set_figure_size()` and the resolution with `set_buff_size()`. I find that searching with quotes can help force my search engine to return

[2019-03-06 20:41] #2198 closed

[2019-03-06 22:49] nilsdeppe commented on #2198
Okay, sounds good. Thank you!

[2019-03-07 17:20] #2196 closed

[2019-03-07 17:25] AshKelly commented on #2154
If this is to do with `masks` as in boolean masks then it might be useful to consider `numpy.packbits` to reduce the size of them - I came across this function semi-recently

[2019-03-07 18:18] MatthewTurk commented on #2154
@AshKelly Ah, yeah, that's a good idea.  That would indeed reduce it.  In yt-4.0 we have EWAH bitmaps, which do some really neat encoding of bitmaps and packing to speed it up, but either project might take a bit.

I suspect, but am not 100% sure, that the biggest memory factor is in the `ires` and `icoords` info.  One way to simplify this would be to change how the projection manages chunks, and

[2019-03-07 18:34] atmyers commented on #2154
IIRC, the mask was getting allocated to cover the entire domain on every process, not just for the subset of the domain that the process owned. Even with packing, this will blow out memory eventually for large, unigrid datasets.

[2019-03-07 18:48] MatthewTurk commented on #2154
@atmyers Ahhh, I see.  OK.  I think this is something that will need to be addressed -- but we need to figure out how desperate the need is, and if it is blocked by anything else.

[2019-03-07 18:49] MatthewTurk commented on #2198
I'm rather sympathetic to this concern.

[2019-03-07 19:14] jzuhone commented on #2198
I am also sympathetic to the concern, but I agree with @munkm that renaming the project would be _significantly_ disruptive.

[2019-03-07 19:17] MatthewTurk commented on #2195
This is interesting.  It's probably worth checking that the same number of particles is selected by the sphere in both cases.

[2019-03-07 21:58] #2042 closed

[2019-03-08 01:29] chummels commented on #1975
I just tested this again, and it appears that the problem is now fixed.  Perhaps PR #1999 was responsible for the fix?  Either way, closing now.  It's a miracle!

[2019-03-08 01:29] #1975 closed

[2019-03-08 01:45] chummels commented on #1212
Update on this for 2019.  Of the scripts that I provided in the original issue, the first one is now resolved, but the second one still fails:

[code]

However, the traceback yields:

[code]

I recall that there is now a way to do volume rendering in yt4, I just don't remember how.  Maybe to finally resolve this issue, we only now need to tie the default `volume_render()` or `create_scene()` funct

[2019-03-08 01:51] chummels commented on #2069
Closing.  I have tested that this now works.  Was fixed by PR #2070 .

[2019-03-08 01:51] #2069 closed

[2019-03-08 01:57] chummels commented on #1976
Maybe it's OK that this doesn't work?  You can get much of the same functionality with particle filters, which *do* work in yt4.  Not sure what it would take to get this working.  At the very least, before this is closed we should document that cut regions do not work for particle-based datasets on the `Filtering` docs page: http://yt-project.org/docs/dev/analyzing/filtering.html

[2019-03-08 14:01] matthewturk opened #2201 "Reduce size of pep8speaks config file"
After https://github.com/OrkoHunter/pep8speaks/pull/106 has been merged, it looks like we can reduce the config file presence -- and reduce duplication -- for pep8speaks.

I believe it would be sufficient to remove our .pep8speaks.yml file, but we should investigate if we can remove the "ignore" and "exclude" sections and leave the bits where we define how the bot should talk.

[2019-03-10 21:05] MatthewTurk commented on #1212
@chummels Thanks for digging this up!  I think that with #2166 we might be able to move this to closed, but for now, only AMR works still with volume rendering.

[2019-03-10 21:06] MatthewTurk commented on #2137
Looks like #2140 closed this!

[2019-03-10 21:06] #2137 closed

[2019-03-10 21:07] MatthewTurk commented on #2135
@mameehan5 Any chance you've been able to reduce the script size?

[2019-03-10 21:11] mameehan5 commented on #2135
Hi Matt. Yep! See below.

[code]

[2019-03-10 21:16] MatthewTurk commented on #2135
Marvelous, thank you.  To make sure I can accurately recreate this here, can you post the values of `left_edge` and `right_edge` for the objects created in method 1 and 2?

[2019-03-10 21:22] mameehan5 commented on #2135
Sure thing. What exactly is the syntax to do that? I can get the bounds of the domain easily from `ds` but not sure how to do that for `dd`.

[2019-03-11 15:43] ngoldbaum commented on #1212
I was hoping to have a student write an SPH volume renderer last summer. While they did implement off-axis projections, they never got to the point of writing a full-fledged volume renderer. In order to close this issue someone would need to do that. I have ideas for how that would work (e.g. this markdown document I wrote for the student I was working with: https://github.com/ngoldbaum/spin-proje

[2019-03-11 16:47] chummels commented on #1212
OK, fair enough.

[2019-03-12 00:09] brittonsmith commented on #2201
Looks like the PR has now been merged. Someone can give this a try if they like.

[2019-03-12 13:51] MatthewTurk commented on #2201
@brittonsmith Excellent!  I think this would be a great first-time contribution...

[2019-03-13 16:20] MatthewTurk opened #2205 "Can no longer do CIC deposit of particle fields in yt-4.0"
In yt-3.x, particle fields could be deposited onto an octree to generate "slices", even if those particles do not have smoothing lengths.  This is no longer possible.  The exact mechanism by which it should be exposed is unclear, but a strong candidate would be to have it done onto a 2D image when projecting or slicing, similar to how the SPH smoothing is done.

[2019-03-13 16:24] ngoldbaum commented on #2205
Just to make this concrete, the `particle_filter.py` cookbook recipe shows how this is problematic. Right now it fails with the following traceback:

[code]

[2019-03-13 18:07] sheagk commented on #1021
OK, it looks like I should edit `_recreate_frb` in `plot_window.py` to manage the `buff_size` intelligently based on aspect ratio and window size, since I believe both of those are accessible to the class.  Handling the dpi is trickier though, since that won't be specified until `save` (on a related note, can someone point me to the right `save` function?)  I could add an optional argument to `rec

[2019-03-13 18:11] ngoldbaum commented on #1021
No, we don't create the matplotlib until we actually need to save something to disk or display it. The scale of the axes is known ahead of time (although I think right now we don't actually compute it until the plot is about to be created), see `ImagePlotMPL._get_best_layout`, which calculates the axes extents for the main plot axis and the colorbar axis.

[2019-03-19 10:20] HugoPfister opened #2207 "Weird contour plot"
Hi,

I hope I am in the right place... I use Ramses and try to produce contour plots. I have a few issues/questions with this.

I DL output_80 from http://yt-project.org/data/ and here is what I did:

[code]

Now, my issues/questions are following:
• why, although I asked for the same contour plot, I do not get the same values (meaning the iso-rho showed are different)?
• would it be possible to p

[2019-03-19 13:16] HugoPfister commented on #2207
![1_Projection_z_density_density](https://user-images.githubusercontent.com/23497515/54608709-968adc80-4a51-11e9-8351-e6c15c501a02.png)
![7_Projection_z_all_density_ones](https://user-images.githubusercontent.com/23497515/54608715-9c80bd80-4a51-11e9-8a15-f2df059a30b0.png)

[2019-03-19 14:42] cphyc commented on #2207
Hi Hugo,
It looks like you're weighting using `ones` in the first case and `density` in the second case, hence the projected density maps won't be the same.

As a side note, you can also pass the values you want for the contours as the `ncont` instead of a single integer.

[2019-03-19 16:50] jzuhone opened #2209 "Cannot make projections of SPH data using non-region sources in yt-4.0"
### Bug report

**Bug summary**

The `sph_answer` test executes `PixelizedProjectionValuesTest` tests, which use a sphere as a selection object. This currently does not work for SPH data in yt-4.0. One gets error messages like this:

[code]

**Version Information**
  * Operating System: macOS
  * Python Version: 3.7
  * yt version: 4.0-dev

[2019-03-19 16:53] ngoldbaum commented on #2209
This is due to this bit in the SPH projection pixelizer:

https://github.com/yt-project/yt/blob/yt-4.0/yt/geometry/coordinates/cartesian_coordinates.py#L298-L312

As you can see if the projection's data source is anything besides a region this won't work.

Looking at the code it's not clear to me why this indirection is necessary - shouldn't the projection be doing I/O using the underlying data so

[2019-03-19 16:56] ngoldbaum commented on #2209
Oh wait, I see, so here's what's happening. Imagine you're doing a projection of the entire domain, but are zoomed in on something interesting in the center of the domain. Without this hack then you'd read in *all* of the particle data across the whole domain, with this hack you only read in the particles that contribute to the image.

So there are two things we could do. The first, easy thing wou

[2019-03-19 16:59] jzuhone commented on #2209
I tried to do something like this in pyXSIM for general objects, but I wasn't smart enough to figure it out or it's too hard to come up with something that can handle all of the general cases (tilted disks, for example).

[2019-03-19 17:02] ngoldbaum commented on #2209
I'm pretty sure a formula can be derived for all of the geometric objects and are available in the game or 3d graphics programming literature. For example, here's one for inclined cylinders: http://www.iquilezles.org/www/articles/diskbbox/diskbbox.htm

For cut_regions we could delegate to the underlying geometric data objects.

[2019-03-19 17:55] chummels opened #2210 "ProfilePlot fails on particle-based data when no weight_field set"
### Bug report

**Bug summary**

The default weight_field for a ProfilePlot is `cell_mass`, which obviously fails for particle-based datasets.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

A ProfilePlot

[2019-03-19 18:59] chummels opened #2212 "Default PhasePlot Behavior Different for Particle and Grid Datasets"
### Bug report

**Bug summary**

When one creates a PhasePlot with a grid-based dataset, it defaults to using log-based axis ranges.  When one does the same script with a particle-based dataset, it uses linear axis ranges, which is usually not desired.

**Code for reproduction**

[code]

**Actual outcome**

![galaxy0030_2d-Profile_density_temperature_mass](https://user-images.githubusercontent.com

[2019-03-19 22:39] chummels opened #2214 "Table of contents on left side of docs cuts off for some pages"
Just noticed that the Table of Contents on the docs got moved to the left side of each page.  This looks nice for the most part, but some pages with long TOCs get cut off and one cannot scroll down them.  Example: http://yt-project.org/docs/dev/reference/api/api.html

[2019-03-20 12:55] HugoPfister commented on #2207
Hi,

OK, so, by default, the weighting field is the same than the one used for the plot (I think this answers to bullet 1 and partially 3).

and ncont indeed work, if in the right units (bullet 2)

thanks!

[2019-03-20 12:57] #2207 closed

[2019-03-20 12:57] cphyc commented on #2207
Closing the issue as the problem seems to be solved.

[2019-03-20 19:06] lisamartin72 opened #2216 "Updated NumFOCUS donation link"
Hi, I am a new staff member at NumFOCUS. We have updated our donation provider from Flipcause to Salsa. The new link is:

https://numfocus.salsalabs.org/donate-to-yt/index.html

Please update your website accordingly. : )

Thanks,

Lisa Martin
NumFOCUS

[2019-03-20 19:15] ngoldbaum commented on #2216
I don't think we have a donate button on the website at all. Maybe we should add one?

[2019-03-21 16:38] lisamartin72 commented on #2216
Most of the NumFOCUS projects have a donation link on their website.

[2019-03-23 02:22] cbrummelsmith opened #2217 "Handling Enzo datasets with ghost zones"
### Bug report

yt is not working with Enzo datasets containing ghost zones, i.e. when using `WriteGhostZones = 1` in Enzo parameter file. I've reproduced the errors using Enzo's `<enzo_dir>/run/Cosmology/AdiabaticExpansion` simulation. The only change I made to the default `AdiabaticExpansion.enzo` parameter file was I added `WriteGhostZones = 1`

**Code for reproduction**

[code]
Here is a link

[2019-03-23 02:32] ngoldbaum commented on #2217
Not terribly surprising given that this functionality is completely untested at the moment.

[2019-03-26 19:51] qobilidop opened #2218 "Update docs for deposited particle fields"
The "Deposited Particle Fields" and following sections in `doc/source/analyzing/fields.rst` need to be updated to incorporate changes in yt-4.0. I've left a `FIXME` there. This issue is to make sure it gets done before yt-4.0.

Related issues:
- #2205
- #2192

[2019-03-26 22:04] qobilidop opened #2220 "Doc notebooks are down"
[This page](https://yt-project.org/docs/dev/examining/generic_particle_data.html) is blank, and so do several other ones, all of which are notebooks with sphinx source code like this:

[code]

[2019-03-26 22:20] qobilidop commented on #2209
Closed by #2215.

[2019-03-26 22:20] #2209 closed

[2019-03-26 23:02] qobilidop opened #2221 "Make relative particle position and velocity respect north vector"
The derived fields `relative_particle_position` and `relative_particle_velocity` already respect `center` and `normal` parameters. If they also respect `north_vector`, we would have full control over coordinates rotation, which would be a nice feature to have.

[2019-03-26 23:31] qobilidop opened #2222 "Enable optional GIZMO interpolation normalization in SPH gather methods"
When it comes to spatial interpolation of fields, GIZMO is slightly different from the SPH gather method with a normalization factor. See the following equations from the [GIZMO method paper](https://arxiv.org/pdf/1409.7395.pdf):

![image](https://user-images.githubusercontent.com/5176695/55039721-7f646580-4fe2-11e9-979b-4db3fa398d4a.png)

Normal SPH would assume `omega(x) = 1`. To better illustra

[2019-03-28 00:01] qobilidop commented on #1467
Could we also add a feature to temporarily set a default field type to work with? Because it's very common to do analysis on a single field type. And it would be tedious and error-prone having to type it explicitly every time.

I'm proposing a context manager API:

[code]

And except for within the context, field access using the short-hand string form would err.

[2019-03-28 00:34] chummels commented on #1467
That's an interesting idea. So inside the context manager, you could use strings as fields or also tuples of fields with other ftypes, but outside the context manager, you could only use tuples as fields?

That seems pretty useful for shorthanding.

[2019-04-02 17:40] brittonsmith opened #2223 "get_yt_version not working in Python 3"
### Bug report

Running `yt.get_yt_version` shows the following behavior.

[code]

This is on the yt dev tip with Python 3.7.1. I can take care of this, but not at the moment. I'm making this issue so I don't forget.

[2019-04-03 18:25] matthewturk opened #2224 "Version numbers of dependencies specified in many places"
In looking at #2219, I noticed that the numpy version had to be updated a few places.  It would be nice (someday) to specify this one place and throw the appropriate errors based on a single definition of the required version of dependencies.

[2019-04-03 21:27] ngoldbaum opened #2225 "cylindrical_radius incorrect when "center" field parameter is set for periodic data"
### Bug report

**Bug summary**

The `cylindrical_radius` field is giving incorrect results for periodic data when the `center` field parameter is set. This was originally reported on slack by @pdmullen.

**Code for reproduction**

The dataset is available at http://use.yt/upload/7befb6ab

[code]

**Actual outcome**

If the dataset is forced to not be periodic, the minimum cylindrical radius is ze

[2019-04-04 18:27] rennehan opened #2227 "New version of AHF changed the log file name"
### Bug report

**Bug summary**

The newest version of the AHF halo finder (v1.0-100) has a different log file name than what is implemented in the yt code. I am not sure which version of AHF changed this, but the latest has the change.

**Code for reproduction**

Line 83 of yt/frontends/ahf/data_structures.py currently says:

[code]

but it now should be:

[code]

Obviously, it would be simple to

[2019-04-04 18:29] ngoldbaum commented on #2227
I think this probably just needs a try/except block somewhere in the AHF frontend. Pull requests are very welcome :)

If you can share a new AHF output one of us could also try to implement it.

[2019-04-04 18:33] rennehan commented on #2227
Indeed, I could probably implement that and share a pull request.

The format of the files is still the same, just the name has changed. So, for example, I have a snapshot_189.hdf5 file that I ran AHF on with the file prefix "snapshot_189.hdf5". This produces a file:

snapshot_189.hdf5.00.log

Whereas before, as I assume from the code in data_structures.py, it would have output:

snapshot_189.hdf5

[2019-04-04 18:34] ngoldbaum commented on #2227
Sure, I just suggested to share an output because I don’t like making changes to yt without some “ground-truth” data to test with.

[2019-04-04 18:37] rennehan commented on #2227
For sure, the two example datasets will be fine:

http://yt-project.org/data/gizmo_64.tar.gz
http://yt-project.org/data/ahf_halos.tar.gz

I am also now thinking that this may occur because I compiled AHF with MPI, but only used 1 computing core. I think it may add the "00" if MPI is compiled in, regardless of how many cores are used. Usually each task gets its own log file however. I'm not sure if

[2019-04-04 18:40] ngoldbaum commented on #2227
I’m confused, do the two example datasets have this issue? When I say “ground-truth” I mean a real dataset, not one I’ve hacked to emulate a real
one.

Not sure about the MPI issue. Maybe the author of the frontend @qobilidop can share more?

[2019-04-04 18:47] rennehan commented on #2227
I see, I figured since it was changing a file name it wouldn't be an issue. I can provide the snapshot data, but it is large (~6GB). I don't have any smaller tests at the moment.

[2019-04-04 18:48] qobilidop commented on #2227
@rennehan I have seen the same thing when AHF is compiled with MPI. Unfortunately, this is not supported in AHF yet.

One workaround is to rename the AHF output. In case of multiple files, they could be concatenated to be a single valid file, because as I observed only the `.00` file contains a header.

[2019-04-04 18:56] rennehan commented on #2227
Indeed, I simply edited the line in yt to read my proper file. I suppose this is a feature request then, since yt works fine with the serial AHF version but not the MPI version, without modification.

If I end up writing something for this, I will be sure to send a pull request.

[2019-04-04 18:57] qobilidop commented on #2227
That would be awesome!

[2019-04-04 20:30] chummels opened #2228 "Particle cylindrical coordinates inconsistent for different axes"
### Bug report

It appears that the cylindrical coordinate system is operating incorrectly for particle-based fields relative to their grid-based counterparts.  I believe that the "cylindrical_z" field is supposed to be the coordinate associated with the designated normal vector of that coordinate system, so I tested it as such.

I have some code below which generates PhasePlots for two datasets,

[2019-04-04 20:35] ngoldbaum commented on #2228
Does it still happen when you force the periodicity to `(False, False, False)`? See #2225.

[2019-04-04 20:49] chummels commented on #2228
Yeah, unfortunately setting the periodicity to False doesn't seem to change anything for either the grid-based or the particle-based datasets.  Same plots back.

[2019-04-04 20:51] ngoldbaum commented on #2228
OK, just a thought since that came up recently.

[2019-04-04 20:54] chummels commented on #2228
No, that's a good idea.  I missed that recent PR.  I haven't played much with the cylindrical coord code before, so I'm totally open to ideas on how to address this.  Looked over the code briefly but didn't see anything obviously pointing to the `cylindrical_z` being hardcoded with a true z coordinate.  I'll keep thinking about this, though.

[2019-04-06 19:57] brittonsmith commented on #2227
@rennehan, I'm also happy to help with this if you're able to supply a halo catalog with the `.00` naming convention that currently isn't working.

[2019-04-08 16:26] munkm opened #2232 "Add example for overplotting additional fields on a volume rendering"
This issue was brought up on the mailing list [here](https://mail.python.org/archives/list/yt-dev@python.org/thread/GK4UYX4GMDYSNP5B6LIUJKKURXWH2D6T/)

I looked through the docs and noticed that we don't have an example of overlaying a separate field onto a volume rendering. I think an example of doing this should be added to our docs. I'm happy to do this next week when I have more time. Should t

[2019-04-08 16:27] ngoldbaum commented on #2232
The blank notebooks issue is because of #2220.

[2019-04-08 16:37] ngoldbaum commented on #2220
@Xarthisius is it possible either RunNotebook or nbconvert are not installed on the doc build image? Looking at the build log it seems like the code in the try block is raising an exception so the notebook evaluating extensions never get added:

https://github.com/yt-project/yt/blob/623e88ee50bd7649bde4c78cf7fcd71a9589405c/doc/source/conf.py#L41-L48

[2019-04-08 16:40] Xarthisius commented on #2220
hmmm

[code]

I'll take a look...

[2019-04-08 16:41] Xarthisius commented on #2220
ok, trying to actually import them yields:

[code]

[2019-04-08 16:43] Xarthisius commented on #2220
Run update and now they import fine.  Let me know if that fixes the issue.

[2019-04-08 16:49] ngoldbaum commented on #2220
@Xarthisius any chance you can manually re-trigger a build for yt 3.5.1?

[2019-04-08 17:46] rennehan commented on #2227
@brittonsmith @ngoldbaum thanks, I have some data for testing here:

https://drive.google.com/open?id=1zT5FccNR3EVk7UHzlMcbayEyW5Ds1aFA

@qobilidop did you implement reading multiple halo files generated by AHF-MPI?

[2019-04-08 17:55] Xarthisius commented on #2220
I'll do that as soon as I can. However I hit a snag that's not related, but introduces weird errors in build process. Unfortunately, there's a big event I need to prepare for tomorrow so it may take some time for me to fix this.

[2019-04-08 18:18] ngoldbaum commented on #2220
No worries, take your time.

[2019-04-08 18:48] qobilidop commented on #2227
@rennehan No, I didn't.

[2019-04-10 00:57] stonnes opened #2233 "Chaining cut regions gives inconsistent results"
### Bug report

**Bug summary**

There are two ways to "chain" cut regions:
1) `a = ds.cut_region(selection)`
    `b = a.cut_region(next selection)`

or

2) `b = ds.cut_region(selection & next selection)`

They do not give the same results, and I think 1) is giving the incorrect results.  This will be, I hope, a more clear update of issue #1093.

**Code for reproduction**

[code]

**Actual outcome

[2019-04-10 17:01] MatthewTurk commented on #2233
@stonnes Hi Stephanie, I've reduced it a bit:

[code]

This does indeed give different answers for everything after the first, and it shouldn't!

[code]

[2019-04-10 17:25] MatthewTurk commented on #2214
We should probably just switch the theme away from the one we're using, which @ngoldbaum suggests is unmaintained.

[2019-04-10 18:27] MatthewTurk commented on #2233
Just to make it explicit, r3c, r4c and r5c should all have the same value -- and not just the same cell size.

[2019-04-10 18:44] MatthewTurk commented on #2233
More info:

[code]

So it looks like it's in the quantities somewhere.
r3c.sum("cell_volume") == r4c.sum("cell_volume")

[2019-04-10 18:55] MatthewTurk commented on #2233
@brittonsmith and I dug in and it looks like the problem is that `chunks` is redefined in `CutRegion`.  Doing it this way doesn't allow for conditionals to be applied properly to the underlying chunking.

Two immediately obvious solutions:

 1. Disallow `cut_region` on `YTCutRegion` objects (sad)
 2. Instead of cutting and cut region, create a new one with the same base object that appends the new

[2019-04-10 19:04] stonnes commented on #2233
So, I am not sure I get all the terminology--basically stop pretending we can do step-by-step cut regions in multiple lines/calls, and only let cut_regions have multiple requirements (I think "conditionals") with the "&" or "," within a single call?

If so, sounds great and the docs just need to be changed.  Can yt throw an error when people try and chain the impossible way?

[2019-04-10 19:52] brittonsmith commented on #2233
@stonnes, I think we can fix this by changing how cut_regions made from other cut_regions work. Matt and I discussed a fix that I have working now. I'm working on adding some new tests and a PR should come shortly.

[2019-04-11 16:57] brittonsmith commented on #2233
Resolved in PR #2234.

[2019-04-11 16:57] #2233 closed

[2019-04-11 17:46] qobilidop commented on #1891
One major block might be dask unit support. I just came across some discussions about adding unit support to dask, which might be relevant for future reference:

- [An xarray issue about unit support](https://github.com/pydata/xarray/issues/525)
- [A dask blog about the `__array_function__`  protocol ](https://blog.dask.org/2019/03/18/dask-nep18)

[2019-04-12 16:57] vikramkhaire opened #2237 "a bug in yt/frontend/io.py"
I am new to yt. I was testing a few things with
trident. I tried an example from
https://trident.readthedocs.io/en/latest/generated/trident.make_onezone_d...

The code breaks at some line in yt/yt/frontend/ytdata/io.py
I think this block needs small change from dx to x in two places.
[code]
as:
[code]

[2019-04-15 08:11] qobilidop opened #2238 "set_buff_size doesn't work for OffAxisProjectionPlot"
### Bug report

**Bug summary**

The `set_buff_size` method doesn't seem to take actual effect for `OffAxisProjectionPlot`. @tkc004 first encountered this in his research.

[code]

**Actual outcome**

[code]

**Expected outcome**

[code]

And if you take a look of the plot from `p.show()`, it's also obvious the resolution hasn't changed.

**Version Information**
  * yt version: 3.5.1 and 4.0.dev0

[2019-04-16 12:37] cphyc opened #2240 "Runtime error when trying to access `grid_indices` for Ramses data"
### Bug report

**Bug summary**

When trying to access the `grid_indices` field on some Ramses data using a sphere region, I get a RuntimeError

**Code for reproduction**

[code]

**Actual outcome**

[code]

This is probably due to the selected region being too small, so that there's only a single cell in it.

[2019-04-16 12:43] cphyc commented on #2240
I'm trying to see if it's enough to replace in `octree_subset.py:_reshape_vals` by

[code]

[2019-04-16 12:51] vikramkhaire opened #2242 "A bug in arepo test"
### Bug report
I was trying some test examples as suggested in the yt/yt/frontends/arepo/tests. I downloaded the ArepoBullet data. And tried following

**Code for reproduction**
[code]

**I get the following error message**

[code]

**Note**
I get the same error even if I use:
[code]

**Version Information**
  * Operating System: Ubuntu
  * Python Version: 3.6
  * yt version: 4.0

[2019-04-16 12:56] jzuhone commented on #2242
@vikramkhaire have you updated to the current tip of the yt-4.0 branch? This bug is already fixed there.

[2019-04-16 13:05] vikramkhaire commented on #2242
How to use the 'current tip' and update? I did pull and develop/install.

[2019-04-16 13:07] ngoldbaum commented on #2242
What's the output of `git rev-parse HEAD`?

[2019-04-16 13:15] vikramkhaire commented on #2242
e1848447c55fa10d08f7068e5ca0d53fd4c6409f

[2019-04-16 13:17] ngoldbaum commented on #2242
OK, that is the current tip. I'll try to reproduce this later but @jzuhone may be able to help in the meantime. The reason he says that this is already fixed is because he put in PR #2236 the other day, but perhaps we have another place where smoothing lengths or positions should be cast to float64...

[2019-04-16 13:19] vikramkhaire commented on #2242
Looks like that. Thanks @ngoldbaum and @jzuhone

[2019-04-16 22:31] vikramkhaire opened #2243 "for arepo: does yt load sequentially read through files?"
### Bug report

**Bug summary**

**Code for reproduction**

[code]

**Actual outcome**

#--->
ds.print_stats()
---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
<ipython-input-13-f8264554ca4d> in <module>
----> 1 ds.print_stats()

~/yt/yt/utilities/parallel_tools/parallel_analysis_interface.py in

[2019-04-16 22:35] vikramkhaire commented on #2242
I think the issue might be the test simulation itself. The same code does not give similar error on a few of the illustris simulations. There is another issue  as noted in #2243

[2019-04-17 03:03] Xarthisius commented on #2220
I've updated https://yt-project.org/doc/ and evaluated notebooks/cells are now present.

[2019-04-17 03:03] #2220 closed

[2019-04-17 15:03] ngoldbaum commented on #2242
Thank you for the report! Now that #2244 has been merged this should be fixed.

[2019-04-17 15:03] #2242 closed

[2019-04-17 18:25] #2238 closed

[2019-04-17 18:34] MatthewTurk commented on #2135
@mameehan5 I'm digging in, but I'm running into some odd issues which suggest there might be other issues at play that may be contributing!

My loading script is:

[code]

This doesn't work, but I've checked, and I *think* it doesn't work because of floating point roundoff.  But, that may indicate a different issue which could potentially cause the issues you're seeing.

Can you run this script an

[2019-04-17 19:04] #2240 closed

[2019-04-18 15:08] #2223 closed

[2019-04-18 18:55] jzuhone commented on #1797
Did either of you figure out something here? I would like to take a stab at it if not.

[2019-04-18 19:01] ngoldbaum commented on #1797
This requires allowing there to be more than one kind of SPH particle, which no one has worked on yet. There are some tricky aspects to that, for example for gather smoothing you'd probably need a kdtree for kind of SPH particle, I think? That's just to say there might be more complexity here than is immediately obvious.

Please feel free to poke around at this though. If all you want is scatter s

[2019-04-19 14:00] #2096 closed

[2019-04-19 14:00] #2103 closed

[2019-04-19 14:00] #2113 closed

[2019-04-19 14:00] #2116 closed

[2019-04-23 05:15] asoulain commented on #1472
Hi, I ask here if the problem is still unresolved? I don't know if it's possible to contact someone to discuss of this issue, but no doubt that this problem need to be resolved and shared will all RAMSES users.

[2019-04-23 12:58] ngoldbaum commented on #1472
As far as I know this is still an issue. The best place to start is probably to resurrect the old bitbucket pull request I linked to earlier.

[2019-04-23 18:52] ngoldbaum commented on #1797
John opened #2250

[2019-04-24 15:45] jzuhone commented on #1797
@qobilidop so I just accidentally stumbled upon something. It turns out that your example above works in the current `yt-4.0` branch (i.e. without my modifications at all) if you change `filtered_type` from `"gas"` to `"PartType0"`. The problem then is that the default units of plots, etc. are in code units instead of whatever the current default unit system is.

So there's a chance that what I am

[2019-04-24 16:09] jzuhone commented on #1797
Though it looks like this only works for non-derived fields (not surprisingly).

[2019-04-24 16:27] qobilidop commented on #1797
@jzuhone Thanks for your exploration! That is interesting to know. So the situation could be summarized as this: `"gas"` or `"PartType0"` alone are correctly recognized as sph_ptype; `"PartType0"` + particle filter works too; `"gas"` + particle filter doesn't work. Since `"gas"` is an alias of `"PartType0"`, I guess the real issue might be in the integration of alias ptype and particle filter? I i

[2019-04-24 16:27] jzuhone commented on #1797
I think that's a fair summary.

[2019-04-25 16:23] munkm commented on #2237
Hi @vikramkhaire. I just followed the example [here](https://trident.readthedocs.io/en/stable/generated/trident.make_onezone_dataset.html) from the trident docs and was able to create the following figure without an error:
![image](https://user-images.githubusercontent.com/6745434/56751580-0aed2580-674c-11e9-9a4a-e40c6f135db8.png)

Can you tell me a little bit about what yt version and trident ver

[2019-04-28 17:30] chummels commented on #2237
Thanks, @munkm .  I think you'll get the error that @vikramkhaire is having if you mix the wrong versions of trident and yt.  @vikramkhaire : try to either use the stable version of yt + stable version of trident OR the `sph-viz` branch of trident and the`yt-4.0` branch of yt as per: https://nbviewer.jupyter.org/url/trident-project.org/notebooks/trident_demesh_install.ipynb

Please let us know if

[2019-04-30 02:31] samlelouch opened #2253 "Index Error updating from YT-3.4.0 to YT-3.5.1"
### Bug report

**Bug summary**

Index error after yt upgrade

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

has to print the fields in the data. Was working with yt 3.4.0

**Version Information**

  * Operating System: Mac
  * Python Version: 3.6
  * yt version: 3.5.1
  * Other Libraries (if applicable):

installed Anaconda separately and then did conda inst

[2019-04-30 19:36] claytonstrawn opened #2254 "installation issue for yt-4.0 on Mac"
### Bug report

**Bug summary**

When I try to install yt from source (`i.e. git clone https://github.com/yt-project/yt.git`, `cd yt`, `pip install -e .`)  it works fine on the `master` branch but fails to install on the `yt-4.0` branch.

[code]

It's trying to find the file 'ios' as defined in `particle_oct_container.cpp`. If you delete that line it fails to import on the next line, etc. So its c

[2019-04-30 19:43] ngoldbaum commented on #2254
I believe this will be fixed by installing the latest version of the xcode command line tools, see https://stackoverflow.com/questions/52513927/installing-xcode-command-line-tools.

It also looks like other people have solved similar issues by setting CFLAGS, e.g.:

[code]

[2019-04-30 20:27] claytonstrawn commented on #2254
updating command line tools didn't actually fix it on it's own, and neither did passing the CFLAGS argument. (that gave an error to the effect of `clang: error: invalid deployment target for -stdlib=libc++ (requires OS X 10.7 or later)`)

However I found [someone else](https://github.com/Valloric/YouCompleteMe/issues/1683) handling that by running `export MACOSX_DEPLOYMENT_TARGET=10.10` first, the

[2019-04-30 20:27] #2254 closed

[2019-05-01 01:20] ibutsky opened #2256 "Can't annotate velocity vectors with SPH data in yt4.0"
### Bug report

**Bug summary**

When I make a projection or slice plot of Tipsy data with the yt-4.0 branch, I can't annotate velocity. I've tried both "annotate_quiver", "annotate_velocity", and "annotate_streamlines", with various aliases for the velocity fields.

**Code for reproduction**

Dataset: "TipsyGalaxy" from the yt data hub. Download link:http://yt-project.org/data/TipsyGalaxy.tar.gz

[2019-05-06 23:11] ahzeeshan opened #2257 "Plotting vectors using exodus II data"
### Bug report

**Bug summary**
Cannot plot velocity vectors (quivers) using data from exodus II file. The `ds.field_list` entry for the variable is `('all', nlc_x)` and `('all', 'nlc_y')` where `nlc_x` and `nlc_y` are the x and y components of the vector.

**Code for reproduction**

Link to the data file `test_101_other.e`: http://use.yt/upload/641ee3f8

[code]

**Actual outcome**

[code]

**Expe

[2019-05-08 05:05] qobilidop opened #2258 "Projection with 'mip' method is broken for SPH datasets in yt-4.0"
### Bug report

**Bug summary**

@sheagk noticed that in yt-4.0 `ProjectionPlot` with `method='mip'` gives odd results.

**Code for reproduction**

[code]

**Actual outcome**

yt-proj-mip.png:
![image](https://user-images.githubusercontent.com/5176695/57350015-3b03d380-7111-11e9-97d4-b605b354b8d1.png)

mpl.png:
![image](https://user-images.githubusercontent.com/5176695/57350310-78b52c00-7112-11e9-

[2019-05-08 15:16] munkm commented on #2253
@samlelouch it looks like maybe the header file is smaller than expected. Would you mind attaching the header file somewhere so we can take a look at it?

@cphyc does any of this look like something you've seen before?

[2019-05-08 15:19] MatthewTurk commented on #2256
Hi @ibutsky !  Thanks for reporting this.  I *think* that the issue is that `velocity_x` is what we would call the grid or gridded fields, but we don't need that here.  I believe you may be able to utilize `annotate_vector_field` instead, and use `particle_velocity_x` and `particle_velocity_y` (or whatever the appropriate vector fields are.)  We may be able to fix this, but it might require some t

[2019-05-08 15:23] Xarthisius commented on #2256
As @MatthewTurk said above: `annotate_velocity` is shortcut for a class called `VelocityCallback` which is defined here:
https://github.com/yt-project/yt/blob/14f330d5200c9e1e9036030433b3b677aef5c97c/yt/visualization/plot_modifications.py#L307

unfortunately this callback makes some assumptions about fields it uses for plotting, which can be seen here:

https://github.com/yt-project/yt/blob/master

[2019-05-08 15:30] cphyc commented on #2253
It looks like the issue reported on the mailing list (https://mail.python.org/archives/list/yt-users@python.org/thread/WKNKCY42XY5U47T4KB6A4DYZU6IHIO57/#7JFWLVJIVRYZHSUN6MFQTQZ7BVGYE2GC).

@samlelouch could you upload the file `output_00018/amr_00018.out00001`? If this is indeed the same issue as reported by Vadlamani Samhitha then I'd guess it is due to commit 016c7e04bdf443d16b0431369be364dbb152

[2019-05-08 15:32] samlelouch commented on #2253
Hi, yes the same issue. I’m looking at your suggestion in slack help and
will get back as soon as I incorporate the changes. Thank you very much :)

On Wed, 8 May 2019 at 5:30 PM, Corentin Cadiou <notifications@github.com>
wrote:

[2019-05-08 15:33] cphyc commented on #2253
For the record, I have suggested the following patch
[code]

[2019-05-08 15:37] MatthewTurk commented on #2257
@ahzeeshan, thanks to debugging by @Xarthisius and @munkm we figured out that this has been fixed already in master, thanks to #2105 from @jisuoqing !  Can you try updating it?

[2019-05-08 15:40] cphyc commented on #2253
@samlelouch also a quick question: do you know if your cluster is big- or little-endian?

[2019-05-08 15:57] cphyc commented on #2253
Another question: in `amr/output_amr.f90` do you have *exactly* the same lines? Especially the one reading `mass_sph`
[code]

[2019-05-08 16:10] samlelouch commented on #2253
Hey, It's little endian and that part of my patch looks like the following:

open(unit=ilun,file=fileloc,form='unformatted')

! Write time variables

  write(ilun)noutput,iout,ifout

  write(ilun)tout(1:noutput)

  write(ilun)aout(1:noutput)

  write(ilun)t

  write(ilun)dtold(1:nlevelmax)

  write(ilun)dtnew(1:nlevelmax)

  write(ilun)nstep,nstep_coarse

  write(ilun)const,mass_tot_0,rho_tot

  w

[2019-05-08 16:23] cphyc commented on #2253
Alright, I understood what the issue is.
The problem is that yt is expecting to read `mass_sph` as an 8-byte long double, but since the part that writes `mass_sph` is commented out, there's an empty record instead.

 So the fix is just to instruct yt that this field is optional.

[2019-05-08 16:24] cphyc commented on #2253
@samlelouch if you can provide a smallish dataset produced using your version of Ramses, that would be handy to test the new code. Meanwhile, you can try out the version I pushed for PR #2259 and tell me if this solves your issue.

[2019-05-08 16:28] matthewturk opened #2260 "Verify answer tests in yt 4.0"
In preparation for turning on Jenkins for yt-4.0, we need to re-generate the answer results.

This includes:

 * Running answer testing to see what is different and how many are viz/other
 * Triaging these into "real" and "bug"
 * Fixing these and bumping answers

This issue will be a catch-all for this work.

[2019-05-08 17:04] samlelouch commented on #2253
output_00003.zip
<https://drive.google.com/file/d/1KFp-R49vzLZPZ4SeYINJJxUwWRoEACNl/view?usp=drive_web>
sure and here's one of the outputs. Thank you. Let me know if it's
accessible

On Wed, May 8, 2019 at 6:24 PM Corentin Cadiou <notifications@github.com>
wrote:

[2019-05-08 17:28] ahzeeshan commented on #2257
This worked, thanks.

[2019-05-08 17:28] #2257 closed

[2019-05-08 18:07] sheagk commented on #2258
Thanks for posting this @qobilidop.  Just to further verify that there's something wrong here, here's what I get using yt3.5:

[code]

![image](https://user-images.githubusercontent.com/5874877/57397378-68886580-7181-11e9-8beb-d76b7813218c.png)

[2019-05-09 08:28] cphyc commented on #2253
On my local machine with #2259 , I can now load your dataset (I couldn't on the master branch) and make a plot out of it
![info_00003_Slice_z_density](https://user-images.githubusercontent.com/5411875/57438844-1872d700-7245-11e9-8b31-746a0cf7dc96.png)

Would you mind me uploading your dataset to http://yt-project.org/data/ (it would become publicly available) for testing purposes?

[2019-05-09 14:45] cphyc commented on #2253
Alternatively could you run one of the super simple test in the RAMSES folder (for example `namelist/sedov3d.nml`) and send us the first output?

[2019-05-09 14:45] samlelouch commented on #2253
Thank you, you could upload the dataset.

On Thu, 9 May 2019 at 10:28 AM, Corentin Cadiou <notifications@github.com>
wrote:

[2019-05-10 09:40] cphyc commented on #2253
Uploaded on https://github.com/yt-project/website/pull/59! Once #2259 is merged, you should be able to read again your datasets. Sorry for the trouble!

[2019-05-10 12:57] #2253 closed

[2019-05-13 21:53] MatthewTurk commented on #2195
I have tracked this down to a single change in `selection_routines.pyx`.  In `master`, under the `OctreeSubsetSelector.select_point` we return 1 always; this means that if the oct is selected, everything within that oct is also selected.  In `yt-4.0`, this dispatches to the `base_selector` and asks it.

So, this results in a difference when doing a `count` field (i.e., assigning all particles to t

[2019-05-14 19:05] chummels commented on #2072
Fixed by PR #2186

[2019-05-14 19:05] #2072 closed

[2019-05-17 07:12] RicardaBeckmann opened #2263 "field_parameters disappear for grid objects"
### Bug report
**Bug summary**

When trying to generate a derived_field of sampling_type='particle', field parameters are not found within the field generating function for grid-based data objects. They do work fine for other objects, such as all_data and sphere

**Code for reproduction**

[code]

**Actual outcome**

[code]
As you can see, the field_parameter is not found for the grid object, but

[2019-05-21 05:10] jisuoqing commented on #2256
Previously I also thought it's an issue related to field naming, but now I realized that this error is caused by `pixelize_cartesian` routine which obviously does not work for particle data. The solution is to simply replace the pixelize routine with `ds.coordinates.pixelize`, as I did in PR #2105 for the `master` branch.

But since the `master` branch will get finally merged into the `yt-4.0`, do

[2019-05-22 23:48] ibutsky commented on #2256
Thanks, everyone!

I tried using annotate_line_integral_convolution, and that did work.

[2019-05-22 23:51] jisuoqing commented on #2256
Thank you for reporting this Iryna! Other annotations (quiver, streamline, etc.) will definitely get fixed, at the latest when the `yt-4.0` gets merged into the `master` branch.

[2019-05-27 19:48] qobilidop opened #2264 "Dynamic parallel objects StopIteration error in Python 3.7"
### Bug report

**Bug summary**

Dynamic parallel objects would result in [`StopIteration` error stemming from a Python 3.7 new behavior](https://stackoverflow.com/a/51701040/10892982).

**Code for reproduction**

Given `test.py`:
[code]

Run:
[code]

**Actual outcome**

[code]

**Expected outcome**

No error.

**Version Information**

  * Python Version: 3.7
  * yt version: master branch (3.6.dev

[2019-05-31 18:36] matthewturk commented on #1891
We spent some time looking at dask in a group today (cc @jcoughlin11 @cassidymwagner @munkm ) and came up with some things that we aren't sure how to address.  But!  We did get a really simple proof of concept going, although I have to note that this does *not* lazy-load data, although it shows how one might proceed to lazy loading data.

Units are passed through this, too, which seems neat.

[cod

[2019-06-02 19:54] matthewturk opened #2268 "setting the center requires a two-tuple"
When calling `set_center` on a `ProjectionPlot` or a `SlicePlot`, you have to specify a two-tuple of coordinates.  This makes sense in that the center of the plot is, in fact, two coordinates.  But, it makes it clumsy to do things like setting the center from the output of `find_max` or `argmax` or something, as only the two *plot* x and *plot* y coordinates are necessary.  This leads to construct

[2019-06-11 10:30] #2264 closed

[2019-06-12 19:49] clairekope opened #2272 "Exodus II data from ALEGRA not loading properly"
### Bug report

**Bug summary**

Data from ALEGRA, in Exodus II format, does not load correctly. One example is below, and the other was a mesh issue. Both were found and fixed by Kris Beckwith; I'm creating this issue for use in a pull request to contribute them back.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

Display the values of the `('all','DENSITY')

[2019-06-12 20:01] clairekope opened #2273 "Annotating mesh lines on semi-structured data fails"
### Bug report

**Bug summary**

Cannot annotate mesh lines onto slices of semi-structured data. Creating issue for use with pull request which includes a fix.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

Mesh lines should be annotated without issue.

**Version Information**

  * Python Version: 3.7.3
  * yt version: 3.6.dev0

[2019-06-12 20:36] clairekope opened #2275 "Using a cut_region for data_source ignored with semi-structured mesh"
### Bug report

**Bug summary**

Trying to use a `cut_region` with the `data_source` argument has no effect when dataset is a semi-structured grid. Example is for `SlicePlot` but the same outcome results (i.e., nothing happens) when using the `data_source` argument during data object creation.

**Code for reproduction**

[code]

**Actual outcome**

[code]
![all_data_Slice_z_density](https://user-i

[2019-06-12 20:37] matthewturk opened #2276 "Chunksize does not seem to work in some cases with tipsy"
Debugging an issue with @claytonstrawn led to us determining that there is some strange interaction between `CHUNKSIZE` and tipsy that results in particle offsets that are off the end of the file, thus leading to zero-size arrays being read.  It seems that there's potentially an interaction with the smoothing length calculation here as well.

In his case, setting `CHUNKSIZE` to `256**3`, rather th

[2019-06-12 21:53] matthewturk commented on #2276
I believe that the logic in `_calculate_particle_offsets` is somehow, subtly, wrong, but I can't figure out why it was done the way that it was done -- which makes me nervous.  Here is the snippet:

[code]

What I don't understand is why we iterate `for j in range(i)`.  I don't see how this could work for multiple chunks where there are also multiple particle types.  The specific case here is with

[2019-06-13 00:41] matthewturk opened #2277 "Specialized index type for unigrid data"
(This is indirectly related to #1891 .)

At present, we have indexing schemes for AMR, octrees, particles, unstructured, etc.  We should have one specifically for unigrid data.  There are *many* use cases that would benefit from this special-casing.

[2019-06-17 18:51] mccbc opened #2279 "Accessing octree cell volumes in yt-4.0 exceeds maximum recursion depth"
### Bug report

**Bug summary**
Attempting to access the 'volume' octree field to get octree cell volumes in yt-4.0 exceeds Python's maximum recursion depth.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

A ``YTArray`` containing volumes of each cell in the octree, similar to the way the octree cell positions are accessed. Ex:

[code]

**Version Information**

[2019-06-19 16:22] cphyc opened #2281 "Faster particle depositions"
In some AMR codes (such as RAMSES) the particles are read by yt in the order they appear in memory. This means that consecutive particles are likely to reside in the same oct (or in neighboring octs).

Using this, we could easily optimize the particle deposition scheme, so that when deposing a bunch of particles from the same oct, only one tree traversal is required.

This could either be done in

[2019-06-19 18:35] qobilidop commented on #2258
@ngoldbaum (or someone else you know with the expertise) Could you have a look and point me to the relevant code? I get pretty lost seeking where the work is actually done.

[2019-06-19 18:49] ngoldbaum commented on #2258
@qobilidop SPH projections happen here: https://github.com/yt-project/yt/blob/b4acb2f2eed03d20e2ced7c1fb80e91047faab6e/yt/geometry/coordinates/cartesian_coordinates.py#L299-L357

You'll presumably need to write a `pixelize_sph_kernel_mip_projection` cython utility. I'm not exactly sure what an MIP projection means for SPH data so you'll probably also have to think about that.

[2019-06-19 19:01] qobilidop commented on #2258
@ngoldbaum Thanks for your reply. I know this is where SPH projection happens. But what confuses me is where the code lands on when `method='mip'` is specified. I could track down the code to this line:
https://github.com/yt-project/yt/blob/b4acb2f2eed03d20e2ced7c1fb80e91047faab6e/yt/data_objects/construction_data_containers.py#L191-L192

Do you know where `self.func` gets called eventually?

[2019-06-19 19:09] ngoldbaum commented on #2258
I don't think that code actually does anything. Instead it's a combination of how `dl` is calculated below that point:

https://github.com/yt-project/yt/blob/b4acb2f2eed03d20e2ced7c1fb80e91047faab6e/yt/data_objects/construction_data_containers.py#L507-L508

And the `method` keyword argument for the QuadTree cython class:

https://github.com/yt-project/yt/blob/b4acb2f2eed03d20e2ced7c1fb80e91047faab

[2019-06-19 19:25] qobilidop commented on #2258
Thanks! I think that's what I'm looking for.

As to the semantic meaning of "MIP" in the context of SPH, @sheagk might have an idea. My naive thinking is to return the maximum field value of all the particles intersecting the pixel sightline at each pixel position.

If there isn't a good use case for a "MIP" projection in SPH viz. Probably the way to move forward is to disable the "MIP" method ent

[2019-06-19 19:45] ngoldbaum commented on #2258
That makes sense, except I wouldn't use the field values directly but instead the field values scaled by the SPH kernel at the closest point between the particle and the ray for that pixel, which should be the maximum field value "felt" by that ray.

One problem with this approach is that it ignores the contributions from multiple SPH particles, which might add up to a value bigger than the SPH-in

[2019-06-20 03:22] sheagk commented on #2258
Hey guys, I'm not sure I understand the exact problem here.  Maybe it's because I'm thinking specifically about density (or density-like) fields, but any field like that has a well-defined single value at every point in space, even in particle-based codes.  For SPH it's just the weighted sum of all the particles' value whose kernel intersects with that point; it's more complicated in MFM, moving m

[2019-06-20 03:28] ngoldbaum commented on #2258
Right now there isn’t any ray-casting, everything is done in the image plane.

[2019-06-20 03:36] ngoldbaum commented on #2258
If you look in the block of code I linked to above in the cartesian geometry handler where SPH projections get handled, we call a cythong function called `pixelize_sph_kernel_projection`. This function smooths data directly onto a pixelized image using a projected 2D version of the smoothing kernel. For the MIP I guess we need to spatially order the data somehow and keep using the 3D kernel. There

[2019-06-21 20:04] jcoughlin11 opened #2282 "TypeError: 'NoneType object is not subscriptable for all_data object"
### Bug report

**Bug summary**

When trying to access fields for an all_data object created from a gadget dataset, a TypeError: 'NoneType' object is not subscriptable exception is raised. The data used is snapshot_010 from yt-project.org/data

**Code for reproduction**
[code]

**Actual outcome**
http://paste.yt-project.org/show/146/

**Expected outcome**
A YTArray containing the particle position

[2019-06-21 20:04] jcoughlin11 commented on #2282
@matthewturk has also seen this bug.

[2019-06-24 09:26] brittonsmith commented on #2263
Fixed in PR #2269.

[2019-06-24 09:26] #2263 closed

[2019-07-11 20:33] amaxwu opened #2290 "cut_region() not working as intended"
# Bug report

**Bug summary**

(copied from yt-user mailing list)

When making projection plots of total gas density and cold gas density, averaged over
the projection length (i.e. with a uniform weighting), and using cut_region() to filter
out hot gas to make the cold gas plots, it appears that some areas in the cold gas plot
have a higher density than the corresponding areas in the total gas plo

[2019-07-11 20:37] amaxwu commented on #2290
Sorry, did not realize the number/hashtag symbol would trigger a new header. All the headers in the code for reproduction section are comments.

[2019-07-11 20:47] Xarthisius opened #2291 "Quiver callback doesn't work for OffAxisProjection"
Following code:

[code]

yields:

![bad](https://user-images.githubusercontent.com/352673/61084189-0eab5280-a3f3-11e9-8506-09cdf3062884.png)

but it should produce:

![good](https://user-images.githubusercontent.com/352673/61084219-1a971480-a3f3-11e9-8ff3-37314c686f85.png)

[2019-07-12 02:49] kuochuanpan opened #2293 "Annotating grids failed when setting plot width"
### Bug report

**Bug summary**

`slice.annoate_grids()` failed to plot grids when using `slice.set_width()` or `slice = yt.SlicePlot(ds,'z',"density",width=(400,'km'))`

However, it works with `slice.zoom()`.
(Note: I am using FLASH data)

**Code for reproduction**

[code]

**Actual outcome**

[code]
`fig_works.png` : https://www.dropbox.com/s/d02wbxzg52reye6/fig_works.png?dl=0
`fig_failed.png`:

[2019-07-12 02:52] kuochuanpan commented on #2293
FLASH data can be found here: https://www.dropbox.com/s/t7lkor3cfn1ktit/ccsn3d_hdf5_plt_cnt_0656?dl=0

[2019-07-13 20:25] matthewturk commented on #2290
@amaxwu Would it be possible for you to try projecting it with either `weight=None` or by weighting with density?

Projections based on ones that are through any non-uniform grids (i.e., anything that isn't "unigrid" where the volume is the same everywhere) will have really odd results.  I just want to make sure that's *not* what we're seeing.  The "ones" field means that there are two image plane

[2019-07-15 16:13] amaxwu commented on #2290
Hi @matthewturk, I tried both weightfields (`None` and density). `None` behaves well--going through the image's values element by element, the cold gas plot always has a lower density than the total gas plot (and I presume this works in the same way as an unweighted projection). However, the cold gas plot sometimes has a higher density than the total gas plot for the density weighting. I've added

[2019-07-17 02:48] Carreau opened #2297 "Reason for __import__ use instead of importlib ?"
### Bug report

**Bug summary**

`__import__(..., level=-1)` [found here in `yt/analysis_modules/list_modules.py`](https://github.com/yt-project/yt/blob/master/yt/analysis_modules/list_modules.py#L36)raises `ValueError` on [weird use case](https://github.com/Carreau/frappuccino/issues/1).

**Code for reproduction**

Kind of complicated... so let's not go this route of reproducing. I'm writing a to

[2019-07-17 03:55] munkm commented on #2297
Hi @Carreau ! So I checked on this and we've removed this code in our upcoming release (the yt 4.0 branch). I think `analysis_modules` is the only place where this form of a module import happens. I'll check and see if frappuccino works there!

[2019-07-17 04:37] Carreau commented on #2297
Works great on 4.0 !

[2019-07-17 10:36] brittonsmith commented on #2290
@amaxwu, the behavior you describe is what I would expect. When you do an unweighted projection, the result is the sum of all material along the line of sight. In that case, you are right, the projection of just the cold gas should never have higher values than the full projection, because you're projecting less material.

However, when you do a weighted projection, the result is not a summation,

[2019-07-18 15:22] matthewturk commented on #2297
Hooray!  Thanks for pinging about this.  I *think* I might have scraped that code from a flask extensions thing.

Also, frappuccino looks awesome!

[2019-07-18 20:30] munkm commented on #2297
Yes! Frappuccino is such a cool tool!! I'm looking forward to seeing what logo @Carreau comes up with for it too. ☕️ ❄️

[2019-07-18 20:34] munkm commented on #2297
Since this is fixed in 4.0 I'm going to close the issue, but feel free to reopen it if you think there's something else we could clarify!

[2019-07-18 20:34] #2297 closed

[2019-07-18 20:40] #2291 closed

[2019-07-18 20:42] matthewturk commented on #2282
@jcoughlin11 Can you try with the fix from #2288 , which has been merged?

[2019-07-18 20:55] #2276 closed

[2019-07-18 21:02] Carreau commented on #2297
Thanks, let me know if you have any feature requests.

I'm gonna steal this emoji sequence.

Sounds good !

[2019-07-18 23:57] ibutsky opened #2299 "Trouble loading in cosmological tipsy data"
### Bug report

**Bug summary**

I recently ran a git pull on the yt-4.0 branch, and I can no longer load in the cosmological tipsy simulations I'd been analyzing. The simulation output is too big to include here, but I attached a screenshot of the error

![Screen Shot 2019-07-18 at 4 49 55 PM](https://user-images.githubusercontent.com/850402/61499542-7c6bf700-a97c-11e9-9804-4e530671f839.png)

**V

[2019-07-19 00:21] jzuhone commented on #2299
Hi Iryna,

I have a guess as to why this  could  be happening--I’ll have a look at this tomorrow.

John Z

[2019-07-19 17:16] ibutsky commented on #2299
Thanks, John! I just saw the new pull request, and it works!

[2019-07-23 21:27] munkm commented on #2299
Resolved via yt-project/yt#2300

[2019-07-23 21:28] #2299 closed

[2019-07-24 19:31] shoheiogawa opened #2305 "Cannot change the background color in a slice plot"
### Bug report

**Bug summary**

`set_background_color` for slice plot doesn't change the background color. Instead, the minimum colormap color is used.

**Code for reproduction**
Assuming you have MOOSE_sample_data from https://yt-project.org/data/,

[code]

**Actual outcome**
![should_have_black_bg_Slice_z_diffused](https://user-images.githubusercontent.com/15840886/61822129-de1ddc80-ae26-11e9-8

[2019-07-25 18:11] munkm opened #2307 "Following NEP on Python version support"
There's an ongoing numpy enhancement proposal discussing standardizing the time to drop support for Python versions. This specific NEP is also a recommendation for packages within the ecosystem, not just numpy itself.

You can see it here:
https://github.com/numpy/numpy/pull/14086

I think it's a good idea to sync up with other packages in the ecosystem, and it would make it so we have a timeline

[2019-07-25 18:12] matthewturk commented on #2307
I genuinely think we should follow the numpy community on this, particularly as numpy is a hard dependency for us.

[2019-07-25 18:45] matthewturk commented on #2305
Hi!  I have issued a pull request, #2308, that fixes this behavior.

[2019-07-26 20:32] shoheiogawa opened #2309 "Cannot save a slice plot as several image file formats except for eps, pdf, png, or ps"
### Bug report

**Bug summary**

`SlicePlot` object doesn't handle the image file specification correctly in the `save` method. If you specify image file formats except eps, pdf, png, or ps, the image is exported as PNG format.

**Code for reproduction**

[code]

**Actual outcome**

The actual output files are:
[code]

**Expected outcome**
Output files should be:
[code]

**Version Information**

[2019-07-26 20:33] shoheiogawa commented on #2309
In Slack #help, @matthewturk said

[2019-07-26 20:46] shoheiogawa opened #2310 "`mpl_kwargs={'format' : ext}` is ignored when saving a slice plot"
### Bug report

**Bug summary**

`SlicePlot` object ignores file specication by `mpl_kwargs={'format' : ext}` in `save` even though some other options  are effective.

**Code for reproduction**

[code]

**Actual outcome**

The output files are all in png.
[code]

**Expected outcome**

Each image should be saved using the given format to `mpl_kwargs={'format' : ext}`

**Version Information**

  * O

[2019-07-26 20:47] shoheiogawa commented on #2310
Potentially related to issue #2309

[2019-07-26 20:47] shoheiogawa commented on #2309
Potentially related to issue #2310

[2019-07-29 17:51] shoheiogawa opened #2311 "Slice object of 2D mesh doesn't return correct min/max values"
### Bug report

**Bug summary**

When a slice object is created from 2D mesh and max or min values are queried, the returned value is not correct. I.e. -1e+90 and 1e+90 are returned from `slc.data_source.max(var_name)` and `slc.data_source.min(var_name)`, respectively. In the case of 2D mesh, the values should match the volumetric max and min values.

**Code for reproduction**

The code below shou

[2019-07-30 20:18] rafmudaf opened #2312 "Convert from Numpy data to `dataset`"
### Bug report

**Bug summary**
I have field data in numpy format (`.npy` files) which load just fine. However, I'd like to use the mapserver feature and it seems like I need something more close to a native `dataset` object. Is there a way to export the data once its loaded with `yt.load_uniform_grid` for use later with `yt mapserver`?

This is not a bug but rather a user question, so please let

[2019-08-02 20:33] matthewturk commented on #2312
Hi @rafmudaf thanks for opening this!  I have some thoughts on this but I'm currently traveling and might need to take a few days to reply.

[2019-08-02 20:39] rafmudaf commented on #2312
@matthewturk No problem. I'm looking forward to your response and let me know how I can implement this if thats the decision.

[2019-08-05 22:17] juliusknapp opened #2313 "runtime error during volume rendering"
### Bug report

getting a  runtime error when trying to render image:
RuntimeError: Support for the <ufunc 'clip'> ufunc with 3 inputs has not beenadded to YTArray.
see https://mail.python.org/archives/list/yt-users@python.org/thread/YU3CPQDX5OIBBLJXLFXV2KGQWN7LXODJ/

"""
The code has to run in a jupyter enviroment
this is taken from
(https://yt-project.org/doc/quickstart/volume_rendering.html
"""

[2019-08-06 14:06] jzuhone commented on #2313
This is due to a change in NumPy 1.17:
https://github.com/numpy/numpy/blob/master/doc/release/1.17.0-notes.rst#clip-now-uses-a-ufunc-under-the-hood

We'll have to fix this here in the master branch but also in [http://github.com/yt-project/unyt](unyt) for yt 4.0.

[2019-08-06 14:07] jzuhone commented on #2313
In theory you could temporarily get around this by downgrading to NumPy 1.16 until we provide a fix.

[2019-08-06 14:11] jzuhone commented on #2313
This code is sufficient to reproduce the error:

[code]

[2019-08-06 14:12] jzuhone commented on #2313
@ngoldbaum will we have to include a check for the NumPy version in the code? You know more about this than me.

[2019-08-06 18:13] ngoldbaum commented on #2313
Yes, probably. We have version checks for other ufuncs that were added in recent versions of numpy iirc. Also if numpy is going to be adding more ufuncs like this we could make the code strip units when `__array_ufunc__` sees a ufunc it doesn’t know about instead of raising an error. That’s probably more forward compatible. Can you open an issue in unyt for this as well? I’m finishing up here in N

[2019-08-06 18:15] juliusknapp commented on #2313
Dear John,

yes, I confirm, version 1.16 works perfect!

Cheers

Christoph

[2019-08-08 11:24] brittonsmith commented on #2312
@rafmudaf, perhaps you can use the `save_as_dataset` command to save the dataset object into a yt-loadable format. There are docs on that [here](https://yt-project.org/docs/dev/analyzing/saving_data.html) if you're interested.

[2019-08-20 20:11] rafmudaf commented on #2312
@brittonsmith Thanks for tip. I was able to save the dataset in hdf5 format using `save_as_dataset`, but then the mapserver complains that
[code]

I assume I should add a Region object or attribute to the data before exporting to hdf5. Is there a guide on how to structure my dataset so that all necessary attributes are in place?

[2019-08-20 20:13] rafmudaf commented on #2312
cc @Lucas-Mc

[2019-08-21 15:31] matthewturk commented on #2282
This is fixed!  Thanks, @brittonsmith .

[2019-08-21 15:31] #2282 closed

[2019-08-21 15:49] #2313 closed

[2019-08-21 15:52] munkm commented on #2310
Hi @shoheiogawa! @matthewturk submitted yt-project/yt#2318 to address yt-project/yt#2309. Once that's merged, would you mind checking to see if this issue still persists?

[2019-08-21 16:02] brittonsmith commented on #2312
@rafmudaf, can you try saving your data in the following way:
[code]

This should subtly change the format to allow for what you're trying to do. If this is already what you did or it doesn't work for another reason, could you share the full set of commands you're using?

[2019-08-22 12:28] shoheiogawa commented on #2310
@munkm once the code is merged, I will check if the issue has been solved.

[2019-08-27 21:23] matthewturk opened #2320 "Clump contour callback does not work in cylindrical"
Specifically, there are two issues:

1. It manually calls `pixelize_cartesian`, which it should not
2. It has a manual call to `in_units('code_length')` for all of the x and y fields, which it probably should use some form of the units queried from the system.

[2019-09-03 16:49] matthewturk opened #2322 "Magnetic field code units semi-broken"
This is a placeholder bug as a result of an offline discussion with @jzuhone .

[2019-09-03 17:03] matthewturk opened #2324 "Geometry selection in non-cartesian is not intuitive"
At present, the selection of data in non-Cartesian coordinates is non-intuitive.  This is a placeholder for a future discussion of how to improve this.

[2019-09-10 18:41] claytonstrawn opened #2325 "'accumulation' keyword not working on ProfilePlot"
**Bug summary**

When creating a ProfilePlot with both log = False and accumulation =True, it appears to give something which is not accumulating (for example, not uniformly increasing)

**Code for reproduction**
This code uses the sample data from ART-NMSU called `D9p_500`

[code]
Just for convenience, here's what you get when you turn off accumulation: something that is definitely different, but

[2019-09-11 20:37] matthewturk commented on #2325
@claytonstrawn I had to dig into it to see what the issue is, and I think it's related to, for instance, #1774  and #2211 in that it's due to the `weight_field` argument.

What's happening is that by *default*, we're setting the `weight_field` -- which makes it take an average.  Thing is, we almost *never* want this when we're doing an accumulation.  (I think?)

*If* I read the code correctly, it'

[2019-09-11 20:54] claytonstrawn commented on #2325
Ok great. I think I see now, the 'accumulation' graph just looks like a smoothed mass graph because it's still giving an average value, but averaged over the whole sphere instead of the binned shell. As far as I can tell, at least from my understanding of what the "accumulation" keyword is for, you're right that there's no point to doing this weighting behavior when accumulating.

Would it be a go

[2019-09-11 21:11] matthewturk commented on #2325
I do think it would be a good idea to set defaults!  I'm not sure we have the functionality to determine what is extensive/intensive in the code right now, but I do think we could at least by default change the weight field *default* based on whether or not we're accumulating.

[2019-09-11 21:16] jzuhone commented on #2325
extensive vs. intensive is not a thing, though it would be nice to have it. I had some ideas a long time ago about making yt equation-of-state aware, and this could go nicely into something like that. One can dream...

[2019-09-11 21:58] claytonstrawn commented on #2325
@matthewturk another somewhat different comment about ProfilePlot - Is there an issue open already regarding the ylabel being cut off when the tick numbers are several digits long? You can see that in your second image, for example.

This should be a straightforward fix though, all it would take is some kind of fixing the position of the label to the figure instead of the axis (if I'm understandin

[2019-09-11 22:10] matthewturk commented on #2325
@jzuhone let's turn those dreams lucid!

@claytonstrawn Is that something fixable with yt-specific code, or is it something that would be more naturally done via matplotlib?  My hesitancy is that going down the road of wrapping matplotlib code often leads to diminishing returns, as opposed to exposing it.

[2019-09-12 01:28] jzuhone opened #2326 "Cannot estimate density for DM particles using add_sph_fields"
### Bug report

**Bug summary**

The `add_sph_fields` method for stream particle datasets is sometimes unable to generate a density field.

**Code for reproduction**

This can be triggered using the `ArepoBullet/snapshot_150.hdf5` dataset from http://yt-project.org/data:

[code]

**Actual outcome**

[code]

**Version Information**

  * Operating System: macOS and Linux
  * Python Version: 3.6, 3.7

[2019-09-12 01:29] jzuhone commented on #2326
Very obscure error. I've looked at the Cython code but I have no idea what is going on here.

[2019-09-12 03:27] qobilidop commented on #2326
Looks like this is the part of code I touched recently. I'll take a look tomorrow.

[2019-09-13 20:58] qobilidop commented on #2326
Closed by #2328.

[2019-09-13 20:58] #2326 closed

[2019-09-20 14:52] #2309 closed

[2019-09-20 18:17] Xarthisius opened #2332 "SDF frontend not working properly"
On current master:

[code]

hangs for a long time, and after a while throws:

[code]

[2019-09-20 18:25] Xarthisius commented on #2332
On that note, this test seems to pass occasionally on Travis but takes really long time:

[code]

[2019-09-20 18:30] matthewturk commented on #2332
Wow -- looks like maybe rate-limiting from SLAC?  We should perhaps either
disable, or point to a different URL.

On Fri, Sep 20, 2019 at 1:25 PM Kacper Kowalik <notifications@github.com>
wrote:

[2019-09-27 15:18] jzuhone commented on #2322
This was resolved by PR #2323.

[2019-09-27 15:18] #2322 closed

[2019-09-27 17:06] matthewturk commented on #2332
Funnily enough, `.tostring()` now provides bytes and it also hates that, so hooray!

What I think works is:

[code]

Since we're actually interpreting it as ASCII (this is for the header) we can get away with this.

[2019-10-02 11:24] christopherlovell opened #2340 "text not applied to images"
### Bug report

**Bug summary**
When adding text to a plot using the standard matplotlib commands, the text is not visible on the first call to `.show()` or `.save(...)`. If `.text(...)` is called again on the same axis, the text is then visible.

**Code for reproduction**

This example is run on a cosmological hydro sim, but is reproducible with any input data.

[code]

*output*:
![test_A_Slice_x

[2019-10-03 15:34] matthewturk commented on #2340
Hi Christopher!  Thanks for reporting this issue.  It is indeed the case
that the axes get cleared -- unfortunately this is a product of how we
(currently) set up our PlotWindow objects.  Right now, whenever the "data"
or "axes" are invalidated, it wipes the contents.  This may be able to
change in some future version, but for now, the way around this is to use
the `annotate_text` call on the plot

[2019-10-06 04:56] #2305 closed

[2019-10-07 10:45] christopherlovell commented on #2340
Ah OK, will use `annotate_text1`

[2019-10-07 10:45] #2340 closed

[2019-10-25 17:28] munkm commented on #2332
https://github.com/yt-project/yt/pull/2334 addressed this temporarily.

[2019-10-30 16:25] ngoldbaum opened #2353 "Plot axes labels should be in code units, not CGS, when the dataset uses a code unit system"
## Bug report

I'm submitting this on behalf of @neutrinoceros who for some reason is unable to submit an issue via the GitHub web UI.

**Bug summary**
`yt.load(<datafile>, unit_system="code")` produces inconsistent unit labelling between the field and the plot axes, e.g. a density field is labelled in "code mass/code length^3" but the axes are labelled in "cm" instead of "code length"

**Code for

[2019-10-31 15:03] hyschive opened #2356 "annotate_contour not working with ParticleProjectionPlot"
### Bug report

**Bug summary**

`ParticleProjectionPlot` does not support the `annotate_contour` callback.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

**Version Information**

  * Operating System: CentOS 6.4
  * Python Version: 2.7.15
  * yt version: Version = 3.6.dev0 (Changeset = c2b08e58148d)
  * Other Libraries (if applicable):

[2019-11-18 20:55] matthewturk opened #2359 "ImageArray.save() will append an extra extension"
Calling:

[code]

where `im` is an instance of `ImageArray` will create the file `something.png.png`.

[2019-11-19 00:47] jcoughlin11 commented on #2359
I addressed this issue in PR #2286 by adding a call to endswith(extension) on the passed file name.

[2019-11-20 22:03] munkm commented on #2353
I double checked with `EnzoKelvinHelmholtz` and this is now resolved in master from the fix in yt-project/yt#2354

[2019-11-20 22:03] #2353 closed

[2019-11-20 22:30] neutrinoceros commented on #2353
thanks @munkm !

[2019-11-21 05:08] munkm commented on #2353
Thank you @neutrinoceros! Your contributions have been really great!

[2019-11-21 15:39] neutrinoceros opened #2361 "AMRVAC: Incorrect parsing in ds.density_unit"
## Bug report

**Bug summary**

When using a quantity object from `yt.units` as the second argument of a "mass_unit" tuple, yt correctly parses the `ds.mass_unit` but fails with the `density_unit`.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

[code]

Note: the correct result is achieved with
[code]

I discovered while writing this issue that `ds.density_uni

[2019-11-21 15:55] neutrinoceros commented on #2361
Got it, the problem lies in how `ds.quan()`works
[code]

[2019-11-22 15:14] neutrinoceros commented on #2361
corresponding PR was merged !
https://github.com/yt-project/yt/pull/2362

[2019-11-22 15:14] #2361 closed

[2019-11-24 11:00] neutrinoceros opened #2365 "Loading kwargs are ignored when accessing a timeseries's slice"
**bug summary**
Individual datasets from a timeseries are not loaded properly (kwargs are ignored) specifically when the timeseries is accessed through a slice.

**code for reproduction**
As there is no amrvac time series currently stored on the website, here's one (5 snapshots)

http://use.yt/upload/22d10c10

Now, assuming this archive was untared to a "amrvac_ts" dir

[code]

**expected output**

[2019-11-24 11:16] neutrinoceros commented on #2365
note : this is where the timeseries's `__getitem__` method is defined
https://github.com/yt-project/yt/blob/e76f71c23bb274e7fa53bc7a6c40ac8e751bd284/yt/data_objects/time_series.py#L193

[2019-11-24 15:47] neutrinoceros commented on #2365
bug found. Turns out it had nothing to do with AMRVAC's frontend. See PR https://github.com/yt-project/yt/pull/2366

[2019-11-24 21:12] #2365 closed

[2019-11-25 10:11] neutrinoceros opened #2368 "[AMRVAC] Optionally supply parfiles to populate AMRVACDataset.parameters"
## feature proposal

Populate `ds.parameters` with a `"namelist"` (working name) key, which value would be a `f90nml.Namelist` object, defaulting to `None`, through the optional load kwarg `parfiles`.

This optional argument should also be stored in `ds.parameters` to keep track of where information came from in a dataset.

**example user code**

[code]

**benefits**
- allow building of (user *or*

[2019-11-25 17:55] munkm commented on #2359
Closed via yt-project/yt#2364

[2019-11-25 17:55] #2359 closed

[2019-11-25 20:01] neutrinoceros commented on #2368
companion PR https://github.com/yt-project/yt/pull/2369

[2019-11-25 20:50] neutrinoceros opened #2370 "Bug: plot_2d breaks if provided with a spherical dataset"
### Bug report

**Bug summary**
No proper handling of the (admittedly rare) case where `plot_2d`'s argument dataset has spherical geometry.

**Code for reproduction**
Using amrvac_blastwave_spherical_2D

[code]

**Actual outcome**
[code]
Indeed `plot_2D` doesn't currently handle this geometry, but it looks like a mistake rather than a limitation, because there's no explicit blocking.

**Expected o

[2019-11-25 23:08] matthewturk opened #2373 "Geographic coordinate handler unit issues"
In plots that use the geographic coordinate handler, we should be specifying the units for `extent` as `code_length` (i.e., lat / lon) but it's converting them to `cm`.  This is done for completely understandable reasons (and is the confluence of pushing lat/lon into a mono-unit array) but results in cartopy returning a `MULTISTRING EMPTY` projection for the bounds.

This can likely be handled at

[2019-11-25 23:11] munkm commented on #2373
Thanks for digging into this. I'm all for investing time strengthening the geographic coordinate handlers.

[2019-11-26 08:34] neutrinoceros opened #2374 "[AMRVAC] missing api documentation"
Frontend's api documentation should be added to `doc/source/reference/api/api.rst`

[2019-11-26 09:37] neutrinoceros opened #2375 "[AMRVAC] bug: "e" field is assigned wrong name and unit"
# Bug report
In AMRVAC, the on-disk field `"e"` is currently assigned the name `"energy"` and corresponding unit `mass_unit * length_unit**2 / time_unit_**2`, which is incorrect.

This field is in fact defined as the "energy density" in AMRVAC's documentation, though it remains ambiguous because the expression could be loosely used to mean "specific energy", which is not the same thing.

The fix i

[2019-11-26 09:49] neutrinoceros commented on #2375
related although independent https://github.com/yt-project/yt/issues/1301. I'm surprised this issue is still open almost 3yrs later, has this seen any evolution ? (ping @jzuhone)

[2019-11-26 14:20] matthewturk commented on #2373
One possible solution is to set `ds.no_cgs_equiv_length`.  But, in the subclasses of `PWViewerMPL`, we have this construction:

[code]

This is where the axes units would be set to `code_length`, which enables us to `set_extent` corectly.  But, this happens *after* the superclass is called.  It's in the superclass that (for instance) `self.ds` is set.  So we can't just transplant it upward without

[2019-11-26 15:12] n-claes commented on #2375
The on-disk field `e` in amrvac datasets denotes the _total energy density_ defined as
`rho * v**2`, and hence has units `g / (cm * s**2)` in cgs (since `rho` has units `g / cm**3`)

[2019-11-26 16:19] neutrinoceros commented on #2370
fixed https://github.com/yt-project/yt/pull/2371

[2019-11-26 16:19] #2370 closed

[2019-12-05 23:03] neutrinoceros commented on #2368
fixed in #2369

[2019-12-05 23:03] #2368 closed

[2019-12-08 18:33] zhafen opened #2383 "Slow data retrieval for some YTRay objects"
### Bug report

**Bug summary**

yt appears to be very slow at reading data from h5py files for use in `YTRay` objects, especially for particle-based simulations with snapshot size >~ 7 GB.

**Code for reproduction**

[A notebook for reproducing the issue is available here, including ewah file, results of cProfile, and data download links.](https://github.com/yt-project/yt/files/3936681/ray_profil

[2019-12-08 18:34] zhafen commented on #2383
@matthewturk , got a chance to open the issue, continuing from our conversation on Slack. Thanks for your help so far!

[2019-12-10 20:49] #2374 closed

[2019-12-12 02:11] #2375 closed

[2019-12-13 12:24] neutrinoceros opened #2389 "Cmocean reversed map names are not recognised"
### Bug report

**Bug summary**
Setting a cmap using a cmocean cmap name doesn't work when suffix `"_r"` is appended.

**Code for reproduction**
**note:** cmocean must be installed to reproduce.

[code]
works

![fake_ds_thermal_Slice_z_Density](https://user-images.githubusercontent.com/14075922/70799806-f036f200-1daa-11ea-89ce-2444f11d6880.png)

as does
[code]
or equivalently
[code]
![fake_ds_ther

[2019-12-13 15:28] #2389 closed

[2019-12-13 18:40] matthewturk commented on #2383
Hi @zhafen, I looked at this, and it looked to me like the data was reading the entirety of the dataset every single time -- which definitely does not make sense!  So I dug in a bit more and I *think* that it's a bug, which I took a shot at in #2391.  But, it did not speed it up as much as I'd like; there are two additional sets of parameters that might help.  The first is to set `index_order` to

[2019-12-13 22:13] zhafen commented on #2383
Thanks @matthewturk ! PR #2391 provided a ~7.5x speedup.

I played around with `index_order` and `CHUNKSIZE` but didn't find any parameters that provided a further speed-up. Where's the documentation for `index_order`? I unfortunately wasn't able to find it.

Playing with `CHUNKSIZE` and decreasing it to 32**3 can result in a speedup of up to ~4x. However the speedup depends on what other actions

[2019-12-15 20:10] cphyc opened #2393 "Unexpected errors when passing wrong shape to YTSphere"
### Bug report

**Bug summary**

When building a YTSphere object with a centre with a shape (1, 3), yt subsequently fails with cryptic messages.

**Code for reproduction**

[code]

**Actual outcome**

For `sp['density']`
[code]
For `ad-sp`:
[code]
**Expected outcome**

Yt should detect the unexpected shape and either raise a warning and reshape it to `(3,)`, or raise an Exception to prevent the we

[2019-12-16 15:53] matthewturk opened #2397 "Add tab-completion for fields"
Data objects all define a `__getitem__` method, which accepts fields from the dataset `field_list` and `derived_field_list`.  This list can be enormously long, however.  IPython (5.0+) defines a very straightforward way of constructing tab completions which we could utilize:

https://ipython.readthedocs.io/en/stable/config/integrating.html#tab-completion

Defining this on the base object would mak

[2019-12-17 21:24] zhafen commented on #2383
Hi @matthewturk, the tests I applied did indeed give a huge speed-up for the sightline I used. Unfortunately it appears that for other sightlines PR #2391 only gives a ~2x speed-up (e.g. this is the case for sightlines that pass through the center of the zoom-in region).

[2019-12-18 14:23] matthewturk commented on #2383
Any chance you could share a starting and ending point that show superduper
slowness?

On Tue, Dec 17, 2019 at 3:24 PM Zachary Hafen <notifications@github.com>
wrote:

[2019-12-18 21:52] zhafen commented on #2383
I'm finding that under the default settings in the [uploaded example notebook](https://github.com/yt-project/yt/files/3936681/ray_profiling.zip) (which sends a ray straight through the center of a halo) generating a Trident ray can take ~4-6 minutes depending on `CHUNKSIZE`.

YTRay itself only takes 10-15 seconds to retrieve data for a given field. However it repeats this process ~20 times to get

[2019-12-19 16:15] samwalkow commented on #2397
I can take this one!

[2019-12-19 21:17] matthewturk opened #2402 "Speed-up frontend tests"
Some of the frontend tests take an extremely long time.  This issue has come up many times before informally in slack and elsewhere, but this issue is to track any work on them.

A few candidates for identifying speedups:

 * Flash
 * ARTIO
 * Chombo
 * Athena++

[2019-12-19 21:25] Xarthisius commented on #2402
Package | Duration  ↑ |
-- | -- |
yt.frontends.athena_pp.tests | 37 min |   
(root) | 34 min |
yt.visualization.tests | 26 min |
yt.frontends.owls.tests | 25 min | 
yt.frontends.tipsy.tests | 23 min |   
yt.frontends.gamer.tests | 17 min |  
yt.frontends.flash.tests | 15 min |
yt.frontends.athena.tests | 14 min |  
yt.frontends.chombo.tests | 12 min |   
yt.fields.tests | 9 min 57 sec |  
yt.front

[2019-12-19 21:34] matthewturk commented on #2402
On current nose-based infrastructure, `cProfile` can be used with:

[code]

and then prepending `--with-cprofile` to the command line.  For instance, this is my command line:

[code]

to test just `AM06` in `athena_pp`.

[2019-12-19 22:08] matthewturk commented on #2402
My initial results of looking at the Athena++ tests are that much of the time is spent in `_set_center` --which in the past has been identified as a not-strictly-necessary function call.  Changing this would require discussion, but it is something that we should consider.  I'll write up the more detailed results from this shortly.

[2019-12-19 22:40] munkm opened #2404 "h5py throwing errors on yt-4.0 branch"
# Bug report

**Bug summary**

I've noticed the following errors on appveyor on all of the recent PRs that have been submitted to the `yt-4.0` branch, even those that definitely don't touch this part of the codebase (like yt-project/yt#2396). I haven't been able to reproduce it locally and I think in order to do a deeper debug I'll need to log on to the appveyor machines.

It looks to me like in t

[2019-12-19 22:40] matthewturk commented on #2402
One related issue: https://github.com/yt-project/yt/pull/2403

[2019-12-19 23:18] ngoldbaum commented on #2404
I would guess you’d need a windows machine with the latest version of h5py installed to get this. Maybe an upstream change in h5py?

[2019-12-19 23:51] matthewturk commented on #2404
Some preliminary digging by @Xarthisius suggests it may be because the results of the call to `np.void()` on the serialized unit registry may break the 64k mark.  It seems not ... un-plausible ... that this could be platform dependent based on things like string encoding.  Maybe?  Anyway, it seems pretty clear that we're over the limit somehow.

This is pending further investigation, but it may al

[2019-12-19 23:54] ngoldbaum commented on #2404
Please also feel free to open an issue in unyt to track this. I have a windows machine I can do some debugging on. I also suspect we can make serialized unit registries a lot slimmer by not saving default units.

For now maybe just skip this test on windows so we don't get noise on CI?

[2019-12-20 18:31] matthewturk commented on #2404
For what it's worth, I reproduced this on my linux machine!

* h5py: 2.10.0
* hdf5: 1.10.5
* unyt: v2.4.0

At this point in the code, it's attempting to set the `unit_registry` attribute in `unyt/array.py:1347` in `write_array`.  This is a numpy void with dtype `|V71372`, itemsize of 71372.

I am genuinely not sure if this should be address in unyt or in yt, as if we're creating an `ImageArray` wi

[2019-12-20 18:44] ngoldbaum commented on #2404
I think this would be fixed by implementing the suggestions in https://github.com/yt-project/unyt/issues/12. Most of that data is physical units that probably don’t need to be saved to disk.

[2019-12-20 19:29] matthewturk commented on #2402
I've been digging in to Athena++ and I've created a gist here with some top-level timing outputs:

https://gist.github.com/matthewturk/b56931b7b47ae8a363675e193ef3e937

[2020-01-04 01:29] brittonsmith commented on #2383
Could this be because the ray you're making extends outside of the domain boundaries? Ray objects in yt do not work with periodic boundary conditions, so Trident gets around this by making a series of non-periodic rays and appending their data. Each separate ray object will do those data queries all over again. If this is the case, then perhaps the ray selection can be rewritten to take periodicit

[2020-01-04 20:12] zingale opened #2408 "sliceplot data range ignored when log with negative data"
### Bug report

**Bug summary**

If I specify a range for my data using the slice plot method `.set_zlim()`, it is ignored with the warning:
[code]
if there are negative values in the dataset even if I am only asking for positive values in the range.

**Code for reproduction**

[code]
This code reproduces the problem.  The range I asked for, 1.e14 to 1.e17 is ignored when there is negative data.

[2020-01-05 14:56] zhafen commented on #2383
The length of the above ray is of order the halo's virial radius, so extending beyond the domain boundaries should not be an issue. I did experience the expected slowness you're describing when I tested a periodic ray previously.

[2020-01-06 18:04] matthewturk commented on #2383
I'm going through the profiling results, and what I'm seeing is two specific things that are taking lots of time:

 1. `count_particles_chunks` which is used to pre-allocate arrays
 2. `dataset.py:__getitem__` which is in h5py, and used to read data

I believe the problem is the first -- the second is a side-effect, and just showing that we are reading data too many times.  In fact, it seems we ar

[2020-01-06 18:24] matthewturk commented on #2383
Actually, I just issued #2410 that speeds it up by a fair bit on mine.

[2020-01-06 18:46] matthewturk commented on #2383
Looks like that wasn't quite it, although I do have an idea about how to apply the ideas more broadly.  This did get me a 2x speedup and I will issue it in another PR (and likely retract #2410) , though, and if you could check it that would be great.

[code]

[2020-01-06 19:35] zhafen commented on #2383
Looks like a nice, simple change to reduce the amount of times the data is accessed. I can confirm that I got a 2x speed-up, and that the results are consistent before and after the change.

[2020-01-07 13:51] matthewturk opened #2412 "Evaluate benefits of pre-allocation of arrays"
At present, the frontends do an indexing check to identify the size of arrays to allocate before conducting any IO.  For grid-based frontends, this is not terribly onerous (it does cost floating point operations, but a best effort is made to cache those operations) but for particle frontends, it is quite taxing as it requires an IO pass.

The reason this decision was made was to avoid having to do

[2020-01-07 19:56] matthewturk commented on #2383
I implemented a simple version of this, where we don't do as much (if any?  I think I may have missed something somewhere, as this is just a first pass) pre-allocation.  I get more speedups.  Can you try it out?  There may be errors in it, especially with vector fields, so it's not ready for a PR yet.

[code]

[2020-01-07 20:39] zhafen commented on #2383
Nice! This produced another solid speed-up. With this change and the previous one combined I'm seeing speed-ups of ~2.5-4x.

I did find a minor bug, with the following suggested fix:
[code]

The pre-allocation removal changes make sense because for most simulation datasets reading the data will take longer than even typically-slow functions like `np.concatenate`. That said, are there datasets wher

[2020-01-07 20:45] matthewturk commented on #2383
Oh, thanks for the fix!

Yes, I think there are likely cases where pre-allocation could help -- specifically, those cases where you are accessing a large collection of data like a dictionary (i.e., a big sim, then doing `ds.r[:]["something"]`), but I think most operations will now not necessarily need that.  One thing we could do, I suppose, is to add a heuristic and switch behavior, but that woul

[2020-01-08 02:40] jzuhone opened #2415 "Odd-looking slices for fields created using add_sph_fields"
**Bug summary**

The `add_sph_fields` functionality allows one to take non-gas particles and do visualizations with them in yt-4.0. Currently, the results are somewhat odd for `SlicePlot` objects (see linked notebook below for an example). I've tracked this down to the fact that by default there is a normalization step applied when creating a slice:

https://github.com/yt-project/yt/blob/yt-4.0/yt

[2020-01-08 03:24] ngoldbaum commented on #2415
I think the justification for using the normalization is more or less that it looks nice in a lot of cases and enhances detail. However in cases when the individual smoothing regions might be visible, it does poorly. Quoting the SPLASH paper:

are visible. However, using a normalised interpolation improves the accuracy of volume rendered quantities on the pixels by removing effects due to the part

[2020-01-08 19:10] jzuhone commented on #2415
@ngoldbaum you're right, the slices do look much more sensible with gather smoothing. I'm going to mark this as `wontfix` and remove the `bug` tag.

[2020-01-08 19:24] jzuhone commented on #2415
Actually, I was wrong--gather smoothing yields the same result.

[2020-01-08 19:50] jzuhone commented on #2415
And increasing `n_neighbors=64` yields no improvement.

[2020-01-08 19:52] matthewturk commented on #2415
Does it change the appearance at all?

On Wed, Jan 8, 2020 at 1:50 PM John ZuHone <notifications@github.com> wrote:

[2020-01-08 20:32] matthewturk commented on #2412
My email to yt-dev ([archive link](https://mail.python.org/archives/list/yt-dev@python.org/thread/AZKDWQXORFGZXXV2X4IYAZEWULD33VSR/)) is reproduced here:

[2020-01-10 16:51] #2404 closed

[2020-01-14 16:41] jMuzsik commented on #1314
Hi @ngoldbaum ,

I'm working on this but am stuck.

Basically, I am using code blocks from [here](https://yt-project.org/docs/dev/cookbook/complex_plots.html#plotting-isocontours) in the notebook while adding an `_ipython_display_` method to the class as you mentioned but I do not see any leads as to what to do next. I'm not getting much information at all from running these recipes. There must be

[2020-01-14 16:54] ngoldbaum commented on #1314
Can you share the code you have already? Do you know how `_ipython_display_` works? The idea is that once you have a surface object, you would do something like this:

[code]

And then since `surface` is the last expression in the notebook cell, jupyter would then execute the `_ipython_display_` method, producing some content inline in the notebook below the cell using the `display` function. I gu

[2020-01-14 18:57] jMuzsik commented on #1314
I'm pretty new to python, i have mostly worked with JS so this stuff is new to me. I haven't really written any code that was not pure guesswork. One thing that would be super helpful if you directed me to a recipe that will definitely create the proper object that I should be working with. I can then likely figure this out.

[2020-01-14 20:33] ngoldbaum commented on #1314
The script you linked is the correct one, something like this:

[code]

Assuming that `YTSurface` has an implementation of `_ipython_display_`, it should get invoked when `surface` is the last expression in a jupyter notebook.

It would also probably be a good idea to start with something completely outside of yt to see if you understand how the `_ipython_display_` works. You could start with this

[2020-01-14 21:15] jMuzsik commented on #1314
Really appreciate the in depth info! I'll be aiming for a PR someday this week and will get back if I run into any other roadblocks

[2020-01-20 19:01] matthewturk opened #2422 "Evaluate using matplotlib's built-in unit conversions"
Thanks to the very cool PR https://github.com/yt-project/unyt/pull/122 , matplotlib and unyt now play much more nicely together.  In the 4.0 series we should evaluate if this means we can stop converting to bare numpy arrays and if we can eliminate some/all of our functions that wrap data conversion, and instead use matplotlib's built-in conversion.

[2020-01-20 20:49] grkooij opened #2423 "Empty boxes in slice plots from 3D chombo PLUTO data"
### Bug report

**Bug summary**
In slice plots from 3D chombo PLUTO (version 4.3) data some boxes are returned empty. As Matthew pointed out in the mailing list it can be fixed manually by offsetting the slice by a small amount (1e-6 works fine).

Data file:
http://use.yt/upload/4a0db3c5

pluto.ini file:
http://use.yt/upload/781478c2

**Code for reproduction**
[code]

**Actual outcome**
https://i.

[2020-01-22 04:30] jMuzsik commented on #1314
Hi @ngoldbaum

I want your opinion about the best direction to go.  I am able to make 3d graphs using the example data and [plotly](https://plot.ly/).

For example, with the [Plotting Streamlines](https://yt-project.org/docs/dev/cookbook/complex_plots.html#plotting-streamlines) section in the documentation, with this code:

[code]

I can create charts like in this page: https://plot.ly/python/3d-l

[2020-01-22 04:44] ngoldbaum commented on #1314
This is something that probably should be discussed on the yt-dev mailing list, you're just getting my personal opinion here.

I'm personally wary about adding new dependencies, especially new required dependencies. You'd have to convince me that what we get for adding the dependency is worth the risk of maintenance issues from API breakages in the upstream library and installation issues for our

[2020-01-22 17:19] jMuzsik commented on #1314
Ok, that makes sense in relation to adding required dependencies.

As for plotly. From my research it is the de facto 3d charting library. The closest thing to it that is instead maintained by a non-profit appears to be [bokeh](https://docs.bokeh.org/en/latest/index.html). Though, the API is much smaller and the documentation much worse. It's also less active on github. . As for reasons pertaining

[2020-01-22 17:31] ngoldbaum commented on #1314
Before you go further I'd suggest bringing up your plan on the yt-dev mailing list and get feedback from more than just me. I'd also suggest working on a few easier yt issues to get familiar with the codebase and our development workflow before working on a big project like this.

Also this issue is specifically about adding fancy display for isosurfaces but it sounds like you're now talking about

[2020-01-22 22:59] jMuzsik commented on #1314
Before jumping into that world I would need to have settled on a clearer idea. And, I definitely need to understand the library better prior to thinking that I know the best course of action to take. I thought my idea was sort of out of the way (as in i do not have to alter the way yt works) in that it was primarily based on updating the website with examples using plotly.

But for `ipyvolume` we

[2020-01-22 23:05] ngoldbaum commented on #1314
Personally I'd prefer to have ipyvolume as an optional dependency. That's just me though.

[2020-01-24 13:03] neutrinoceros opened #2426 "Discussion: make Dataset an abstract class ?"
about frontends development in general: the Dataset class, as it stands, is an abstract class as
some of its code relies on unimplemented methods. When we wrote the AMRVAC frontend with @n-claes, especially as we were getting started, it was quite confusing how there wasn't a really explicit edge between what has to be there for the child class `<YourFrontend>Dataset` to work, and what can be left

[2020-01-24 13:14] matthewturk commented on #2426
I strongly support this and would like to participate.

On Fri, Jan 24, 2020, 7:03 AM Clément Robert <notifications@github.com>
wrote:

[2020-01-24 13:23] neutrinoceros commented on #2426
side note: we do have "notes" about this as  _comments_ in the `AMRVACDataset` class, where each method is labelled as required or frontend-specific, which could help.

I do not expect the change itself to be difficult, especially if we give up on python 2.

[2020-01-24 14:07] cphyc commented on #2426
That would be a very valuable improvement! I had similar issues when working on the RAMSES frontend or the AdaptaHOP one.

[2020-01-26 11:45] neutrinoceros commented on #2426
So unless I'm mistaken, the most fundamental change required here would be this:

[code]

then it's just a matter of defining the abstract methods and adding documentation.
Since the AMRVAC frontend is not yet ported to yt 4.0, I won't try to implement this just yet without a solid continuous integration frame I can use locally

[2020-01-26 11:59] n-claes commented on #2426
I’m also up for this if needed! It may be useful to note that we’ll have an AMRVAC developers meeting the first week of April which will probably be followed by some frontend modifications (but that will not influence this topic much I guess). As we’re probably going to work on the particle routines I’m planning to extend the frontend to include those features as well, so this discussion may come

[2020-01-27 21:49] whitmanscu opened #2427 "Vorticity Magnitude Field Issue with Newer YT Versions"
**Bug summary**

Switching systems and yt versions recently, I've noticed that using yt 3.5.1, vorticity magnitude fields do not render properly (it's possible that the issue lies in the field calculation itself, I'm not sure). This shows up specifically in AMR fields across different levels of refinement, with fields being non-smooth across the interface. Other fields render smoothly. From the yt

[2020-01-27 22:22] ngoldbaum commented on #2427
Thanks for the report!

[2020-01-28 01:28] atmyers commented on #2427
I can reproduce this bug. However, on this particular data set, the problem seems to have been fixed already on the current master branch:

3.5.1:

![3 5 1](https://user-images.githubusercontent.com/4329158/73227842-b5ee9d80-4129-11ea-95c0-ef124fb724ce.png)

master:

![master](https://user-images.githubusercontent.com/4329158/73228018-3f9e6b00-412a-11ea-9eb8-2535dc07939e.png)

Any chance updating

[2020-01-28 16:21] neutrinoceros opened #2430 "bugs: ds.derived_field_list gets populated with unavailable fields"
##  Bug report

**Bug summary**
simply calling
[code]

will raise errors (and corrupt the ad object, apparently) for some values of `field`.
For now I just want to report what I know is not working, using two public datasets.

**Code for reproduction**
Here's how I get the list of buggy fields
[code]

two examples (using datasets with different geometries)
[code]

[code]

I do not know atm if all

[2020-01-28 16:28] ngoldbaum commented on #2430
Can you share the full traceback for one of these errors?

Just a guess, this might have something to do with field detection being broken. Do you by any chance see errors get raised when you make this exception get unconditionally raised (e.g. inserting the "raise" statement immediately after the exception gets caught):

https://github.com/yt-project/yt/blob/master/yt/fields/field_info_container.

[2020-01-28 17:04] pdmullen commented on #2427
Potentially related to PR #2398 .

[2020-01-28 21:40] whitmanscu commented on #2427
Confirmed that after building from source I do not see this issue on yt 3.6.dev0. I'm fine closing this assuming you folks feel similarly.

[2020-01-28 21:41] ngoldbaum commented on #2427
OK great. Closing now. Hopefully we'll be able to get a release out soon.

[2020-01-28 21:41] #2427 closed

[2020-01-29 01:44] maxbeegee opened #2431 "Problem with derived fields in Athena++ refined mesh"
### Bug report

**Bug summary**

Runtime error occurs when some derived fields are accessed.

**Code for reproduction**
[Using the [AM06 publice dataset (1.3GB)](http://yt-project.org/data/AM06.tar.gz)]
[code]

**Actual outcome**
`RuntimeError`.
Last traceback:
[code]
Full traceback: http://paste.yt-project.org/show/193/

**Version Information**

  * Operating System: Mac OS 10.14
  * Python Versi

[2020-01-29 01:58] maxbeegee commented on #2408
I encountered this problem before. It's fixed if you add the line `slc.set_log('density',True)`
just before `slc.save()`.

Note that yt outputs a warning stating
[code]
so I assume this behavior is intended since it switched to symlog scalig...?

[2020-01-29 02:29] zingale commented on #2408
thanks I'll give that a try!  It may be intended, but it is not intuitive to ignore the limits a user requests, so it might be good to have an option to disable the symlog scaling.

[2020-01-29 10:03] neutrinoceros commented on #2431
Thanks for reporting this. It seems likely to be related to #2430

[2020-01-29 12:38] neutrinoceros commented on #2430
here's a traceback for the "vertex" field
http://paste.yt-project.org/show/194/

[2020-01-29 12:39] neutrinoceros commented on #2430
and another for the "average_density" field
http://paste.yt-project.org/show/195/

[2020-01-29 15:53] neutrinoceros opened #2432 "bug: annotate_timestamp method for ds using "code" unit_system"
## Bug report

**Bug summary**
the "code" unit system is correctly being used for x, y, z labels (since #2354) but not for timestamps.

**Code for reproduction**
[code]

**Actual outcome**
![code_timestamp_Slice_phi_density](https://user-images.githubusercontent.com/14075922/73372404-6fc74480-42b7-11ea-8076-3ac30645a388.png)

**Expected outcome**

the time stamp should use "code time" as a unit.

[2020-01-30 00:35] munkm commented on #2432
I'm working on a fix for this. Should be ready soon.

[2020-01-30 18:00] dnarayanan opened #2433 "arepo idealized galaxy stellar ages don't have a unit"
if you run an idealized galaxy simulation with arepo, the stellar ages return as `dimensionless` (this is in yt4.x).   the age is actually given by:

[code]

where this information is in the HDF5 header

[code]

[2020-01-30 18:04] ngoldbaum commented on #2433
I think you just need to add an entry to this tuple for the field you're loading (not sure what the name is based on the info in the issue description):

https://github.com/yt-project/yt/blob/816301c2d511b4ea0ddac292004876a72bbf7bbe/yt/frontends/arepo/fields.py#L16-L31

[2020-02-05 11:00] neutrinoceros opened #2439 "bug: can not set rcfile values between brackets (example with default_colormap)"
related previous issue and fix PR
https://github.com/yt-project/yt/issues/2389
https://github.com/yt-project/yt/pull/2390

### Bug report

**Bug summary**

setting my `$HOME/.config/yt/ytrc` with either
[code]
results in the same error when attempting to plot stuff. (`ValueError`)

**Code for reproduction**

[code]

**Actual outcome**
http://paste.yt-project.org/show/196/
note that `"thermal"` *is

[2020-02-05 12:15] neutrinoceros commented on #2439
I'm noting that the ValueError signal is actually raised by mpl itself, so it may be a matplotlib bug.

[2020-02-05 12:20] neutrinoceros commented on #2439
nevermind, the error is actually caused because I used brackets in my rcfile, so I'm changing the title of this issue.
Since the traceback is slightly obfuscated, it could still be useful to trim brackets when parsing this value.

[2020-02-07 09:35] neutrinoceros opened #2445 "numpy-induced bugs caught on apveyor"
### Bug report

**Bug summary**

As I reported a few days back on slack, 2 new bugs have emerged with the latest numpy release (1.18.1) and are currently affecting all PRs (e.g. #2440 #2443 #2444 ). I'm reporting them properly here to help us keep track of them. I attempted to fix both and did not succeed thusfar.

**Code for reproduction**

failing tests are the following

- yt.units.tests.test_y

[2020-02-07 15:08] neutrinoceros opened #2446 "Bug in Dataset.find_max() for non-cartesian (polar) datasets"
### Bug report

**Bug summary**
using `ds.find_max(field)` returns surprising values for the position array (second return), that do not seem to translate to the actual coordinates of the maximum.

**Code for reproduction**

Here are three different ways to compute an angular position for the maximum density in a polar dataset (amrvac):

[code]

**Actual outcome**

[code]

[2020-02-11 19:55] munkm commented on #2445
Resolved via yt-project/yt#2448

[2020-02-11 19:55] #2445 closed

[2020-02-12 10:56] neutrinoceros commented on #2430
Hey @ngoldbaum , sorry I just tried out your suggestion and so the answer is yes, I do get YtFieldNotFound errors by making this except unconditional.

[2020-02-12 12:47] neutrinoceros commented on #2430
update: I edited the issue desc with more useful info.
So there seem to be 3 distinct bugs here:
- `"'AMRVACHierarchy' object has no attribute 'meshes'"`
- `RuntimeError('Error: yt attempted to read outside the boundaries of a non-periodic domain along dimension 1...` : I'm guessing yt is attempting to compute spatial derivatives over the whole domain and fails because we don't read ghost zones (y

[2020-02-12 14:09] ngoldbaum commented on #2430
The first one is for fields that only make sense for unstructured mesh data.

The second one is indeed when a field tries to read data that needs ghost zones outside the domain, this would happen for any frontend.

The third one is for fields that depend on a virial_radius field parameter.

All of these cases should normally get triggered during field detection, excluding that field from including

[2020-02-12 17:04] neutrinoceros commented on #2430
ah ! indeed, I just checked that I get the same errors with an Enzo dataset, so these bugs are not at all frontend specific !

[2020-02-12 17:05] neutrinoceros commented on #2430
renamed the issue's title

[2020-02-12 17:26] maxbeegee commented on #2430
I am not sure I understand. Should the derived fields that rely on ghost zones not be available for these datasets?

Because this error seems to occur only for datasets with several grids / refinement levels. I tested this trying to access `shear` in an Athena++ dataset with mesh refinement (failed) and then switching the mesh refinement off (but leaving the boundaries non-periodic)  which succeed

[2020-02-12 17:46] ngoldbaum commented on #2430
I'm not sure #2431 is the same issue. `shear` should work but there's some low-level issue that the `RuntimeError` is warning about. I would need to spend a lot more time debugging to understand what's causing that error. Maybe @jzuhone (original author of the athena++ frontend) would have some insight.

WRT to the problems raised in this issue, the fields that select data outside the domain shoul

[2020-02-12 17:47] ngoldbaum commented on #2430
And for the virial_radius one I think that's also correct, that field will only work if you set that field parameter manually, which is not done in the test script but is done during field detection.

The vertex one is very strange and definitely incorrect, that field couldn't possibly work for that dataset.

[2020-02-19 11:00] cphyc commented on #2281
Another way of boosting the neighbour querying is to use an algorithm as follow
[code]

[2020-02-19 18:23] Anikbh11 opened #2455 "Bug in multi_plot with ProjectionPlots."
### Bug report

**Bug summary**

Trying to create multiplot projections using yt4.0 using the exact code (multi_plot_slice_and_proj.py) in the cookbook (https://yt-project.org/doc/cookbook/complex_plots.html). Both my code to project column densities and the code as given in the cookbook crash
**Code for reproduction**

[code]
import yt
import trident
import matplotlib.pyplot as plt
from yt.utilit

[2020-02-19 19:01] neutrinoceros commented on #2455
Hi there ! Thanks a lot for taking the time to report this problem. To help us reproduce this, could you please give a more concise, minimal example script ?
It would also be helpful to know what frontend you are using here (what's the code your input data was produced with ?). That way we should be able to reproduce this crash using a public dataset from https://yt-project.org/data/ (if you can n

[2020-02-19 21:20] ngoldbaum commented on #2455
So I'm able to run `multi_plot_size_and_proj.py` on the current tip of the yt-4.0 (66d5c9754) branch:

[code]

You mentioned on slack that it failed for you - did you make any edits to that script to make it fail (e.g. loading a different dataset)?

[2020-02-20 13:37] neutrinoceros commented on #2446
I just discovered that this corrupts the underlying data such that `ds.covering_grid` will produce artifacts.

for instance
[code]
results in
![ytrot](https://user-images.githubusercontent.com/14075922/74938352-21a4ed00-53ee-11ea-949e-4b128365b37e.png)

where black regions have uniform value "0".

As the definition for covering_grid seems to be obfuscated, I don't know how to inspect this further.

[2020-02-20 13:40] matthewturk commented on #2446
Intuitively this feels like a situation where we have an array that is getting converted in-place, or getting modified in-place, and that this is touching somewhere in the polar coordinate handler.  I am going to take a look at this during some slack time today but it might take longer than I can devote today.

[2020-02-20 18:23] Anikbh11 commented on #2455
Hey,

Apologies for my delayed response and incomplete info. I'm using Gadget OWLS multi-file snapshots for my codes. And I used the same snapshot to run the  `multi_plot_size_and_proj.py`

Here's a compact code of what I'm trying to achieve :

`
fig, ax = plt.subplots(3,1)
proj = yt.ProjectionPlot(ds, "z", fields = ["H_p0_number_density","O_p0_number_density","C_p1_number_density"], weight_field=

[2020-02-20 18:27] ngoldbaum commented on #2455
Thanks!

Nope, you'll need to do what the scale plot callback does manually: https://github.com/yt-project/yt/blob/master/yt/visualization/plot_modifications.py#L2343-L2418

(basically, create an AnchoredSizeBar and add the bar to the plot with axes.add_artist)

[2020-02-20 18:32] ngoldbaum opened #2458 "data object caches should use more than the field name as a key"
### Bug report

**Bug summary**

Currently if a user accesses a field and then overrides it or deletes it, subsequent accesses to the field will return the old, incorrect data in the `field_data` cache.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

If one adds `ad.field_data.clear()` before the second field access, you'll get:

[code]

**Version Information*

[2020-02-20 18:34] ngoldbaum commented on #2458
One way to fix this would be to make the keys of the `field_data` dict use some data about the field definition itself (e.g. a hash of the field definition or some data from the `FieldInfo` instance?).

Another way to fix this would be to somehow clear the stale entries from the `field_data` dict, but I don't think there's a way to access all existing data objects from the dataset object, which yo

[2020-02-20 18:38] Anikbh11 commented on #2455
Ah okay, that makes sense thanks!

Just curious, the code should ideally work with `'H_p0_number_density' instead of ('gas','H_p0_number_density')` too right?

[2020-02-20 18:39] ngoldbaum commented on #2455
Yup, there are some internal helpers we use to go from a string field name to a field tuple, there's probably just a place where we aren't using those helpers but should be.

[2020-02-20 18:41] Anikbh11 commented on #2455
Alright, thanks! I appreciate your help!

[2020-02-20 18:45] ngoldbaum commented on #2455
I was able to reproduce this by running making the following change:

[code]

In this case the issue is that both `('PartType0', 'density')` and `('gas', 'density')` are valid fields, but the keys of the `_field_transform` dict use the former:

[code]

One way to fix this would be to check if a field is an alias and then replace the field name of the alias field with the field name of the original

[2020-02-20 19:49] matthewturk commented on #2458
This is a fascinating problem.  I think we are in the clear with respect to
changing old behavior, as I don't think folks relied on this.  One thing we
could do that would solve the problem specifically for when we change the
field definition (not the field parameters, which would be trickier) would
be to either iterate through all of the extant data objects that have
weakrefs hanging off the data

[2020-02-20 23:49] chummels commented on #2458
I have considered coding up a little API for something like:

`ds.remove_field((ftype, fname))`

which would just manually remove the field instance from the `ds.derived_field_list` and `ds.field_info` dictionary.  I thought this might be useful for people?  But as Nathan points out in this issue description, this would not pop out the fields for existing data objects already generated off of the

[2020-02-21 08:21] cphyc commented on #2458
Would it be possible to have datasets storing a (default)dict
`ds.field_version` which would be incremented each time a field is overriden.
On the dataset objects side, one could then store a similar dict that would store the version of each accessed fields. When __getitem__ is called, we could then check that `self.field_version[field]== self.ds.field_version[field]`, and regenerate the field acc

[2020-02-22 17:56] neutrinoceros commented on #2324
I think I might be interested in learning about/discussing and contributing to this. Could you be more specific about what the issue is ?

[2020-02-24 15:34] matthewturk commented on #2281
This is absolutely worth implementing.

[2020-02-24 15:57] matthewturk commented on #2324
@neutrinoceros yup, absolutely.

So the basic gist is that we have both index-space and coordinate-space.  I'll call them Si and Sc for short.

All of yt's selection operators currently -- and, I'd argue, non-intuitively -- operate in index space.  So if you have an index space that runs from 0 .. R, 0 .. pi and 0 .. 2pi, it might correspond to a coordinate space defined in x,y,z as running from -

[2020-02-24 16:59] matthewturk opened #2461 "Large grids use more memory than necessary in projections"
@Xarthisius and I tracked this down.

Basically, when generating a projection from a large set of reasonably large grids, you can blow out memory usage because it grabs a chunk based on `"auto"` sizing for io chunking which does not take into account the size of the individual grids.

For instance, this script:

[code]

can prove enlightening.

This diff "corrects" the problem at the cost of much

[2020-02-24 18:56] neutrinoceros commented on #2324
I see. If I understand correctly, this is due to (or at least connect with) the fact that in Ic, coordinates uniformly have a dimension (length), which makes little sense for angular components. This is something I ran into with #2447 (if I'm not mistaken), and indeed it's very unintuitive even on the dev side, though I understand it makes sense in cartesian.

Atm, we have e.g `GridIndex.grid_left

[2020-02-25 11:13] brittonsmith commented on #2458
I support a `ds.remove_field` and even a user facing function for making aliases, since there's the extra step of adding to the derived field list.

I like the hash and the field version ideas as well, but this is also somewhat of a corner use case that is solved by calling `.clear()` on the field data dict. It seems comparable much simpler to improve documentation of this solution or provide a mo

[2020-02-28 15:33] whitmanscu opened #2465 "Trouble Implementing Derived Fields Using Cantera"
**Bug summary**

I'm working with an AMReX dataset that has temperature, pressure, etc. but no viscosity. I'd like to use Cantera through python to calculate viscosity as a derived field in yt. However, I'm running into the issue that `gas.TPX` in Cantera expects scalar values for T and P, while I have these as fields in yt (`data["temperature"]`, etc.), which wants derived fields to work as ufunc

[2020-02-28 16:06] ngoldbaum commented on #2465
It looks like casting to ndarray works as a temporary workaround:

[code]

Since this is really about supporting `np.vectorize` and `np.frompyfunc` in yt's unit system I'm going to close this issue in favor of a more focused issue in unyt. Since this is fixed in unyt it can be backported to yt.units.

[2020-02-28 16:06] #2465 closed

[2020-03-03 16:29] j-rahman opened #2469 "Object of type <class 'numpy.float64'> cannot be safely interpreted as an integer"
### Bug report

**Bug summary**

I was trying to learn how to load generic HDF5 data by following the guide at [Loading Generic Array Data](https://yt-project.org/doc/examining/generic_array_data.html) which produces an error when used alongside `Numpy 1.12.0` and newer. It is caused by unsupported float index in these versions. A workaround is to downgrade to `Numpy 1.11.0`.

**How to reproduce**

[2020-03-03 16:32] ngoldbaum commented on #2469
It looks like this is fixed already in `master` and will be in yt-3.6, see https://github.com/yt-project/yt/pull/2419.

Downgrading to numpy 1.17 should fix this error. If you can't downgrade to numpy 1.17 then building yt from source should also get you the fix.

[2020-03-03 16:32] #2469 closed

[2020-03-03 16:49] j-rahman commented on #2313
Does not work in `Numpy 1.17.2`. Try the volume rendering part here: https://yt-project.org/doc/examining/generic_array_data.html.

[2020-03-03 16:51] ngoldbaum commented on #2313
Yes, to get this to work you'll need to downgrade to numpy 1.16 or build yt from source.

[2020-03-03 16:55] munkm commented on #2469
I just verified that this issue does exist with numpy 1.18 but downgrading to 1.17.5 with yt 3.5.1 should resolve the issue.

[2020-03-03 16:55] j-rahman commented on #2313
Why is it that these requirements are not mentioned in the "getting started" guides? I have been trying to get started with the examples provided but somehow I end up needing to reinstall very specific versions of dependencies which should have been taken care of by package managers or the "All-in-One Installation Script", no? 😓

[2020-03-03 16:58] ngoldbaum commented on #2313
Basically it's been a while since we've done a release and numpy has broken a number of things since then in their releases that have happened since our last release. Once we do a new release things should be simpler. I'm sorry you had some trouble.

[2020-03-09 20:43] matthewturk opened #2476 "Use pooch to obtain OWLS ionization data"
Now that Pooch support has been merged (#2417 ) we should use pooch to download ionization data for the OWLS frontend instead of manually.

[2020-03-09 21:16] munkm commented on #2476
This is a great issue for a new contributor to the project. To do this, you'll want to modify the portion of `yt/frontends/owls/fields.py` to use pooch to download the ionization data (see the following lines: https://github.com/yt-project/yt/blob/master/yt/frontends/owls/fields.py#L286-L310). The linked PR has some examples of using pooch to download data.

I think because pooch is an optional de

[2020-03-10 13:32] neutrinoceros opened #2479 "[AMRVAC] bug: downsampling AMR is broken"
### Bug report

based off
https://yt-project.org/docs/dev/cookbook/calculating_information.html#downsampling-an-amr-dataset

I noticed that this feature doesn't work as intended at least for AMRVAC data.

**working example with a fake amr dataset**
[code]
_output_

[code]
![fake_ds_raw_Slice_z_density](https://user-images.githubusercontent.com/14075922/76317063-cf176c00-62db-11ea-9d1e-8a7c25ef0af1

[2020-03-10 14:22] matthewturk commented on #2479
Yup that looks broken to me, too.  My suspicion is that it has something to
do with missing non-leaf node data or the level 1 offset.

On Tue, Mar 10, 2020 at 8:32 AM Clément Robert <notifications@github.com>
wrote:

[2020-03-10 15:00] neutrinoceros commented on #2479
Sounds likely, as there's no non-leaf node at all in AMRVAC, and I don't think we currently mock anything of the sort.

[2020-03-11 16:37] neutrinoceros commented on #2479
I searched for differences between the fakeds example and the amrvac one.
All I can say for now in the first case, the method `get_global_startindex` gets called while `AMRVACGrid.get_global_start_index` doesn't. I was originally thinking this method is broken but maybe it's more about why it's not getting called. I really don't know how to tackle this, it's even hard to know what portions of yt's

[2020-03-11 18:57] n-claes commented on #2479
Well, AMRVAC only writes data from blocks at the bottom of their respective branch in the AMR tree to the datfile, so all nodes above are empty (for obvious data-storage reasons, the code rebuilds this if needed during a restart). So since a block does not have parents/children containing data (we also never set them in the frontend), I assume that's the reason why downsampling fails? Does yt use

[2020-03-13 12:30] chverbeke opened #2480 "Background not transparant for plotting in spherical coordinates (no log)."
When plotting a slice, the parts of the plot that do not belong to the dataset are usually plotted to be transparant (or you can set the background color yourself).
However, when using spherical coordinates and not have a log_scale, this is not the case and the background is always set to lowest value of the colorbar. This is the case whether you pick the limits of your colorbar yourself or not, a

[2020-03-13 13:38] matthewturk commented on #2480
Hi!  So this is happening because in the log valued, the background (0.0) values are getting turned into NaNs.

I am looking now at the code for how we might address this so that it masks regardless of the geometry and logging.

[2020-03-13 13:42] matthewturk commented on #2480
I was able to make the behavior consistent with this patch:

[code]

Would you like to issue a pull request with this?

[2020-03-13 14:46] chverbeke commented on #2480
Not sure if desired, but the fix now gives a RuntimeWarning for the log-scale case. The non-log scale works as intended indeed! Let me know if you want to fix this warning before issuing a pull request.

[code]

[2020-03-13 14:48] matthewturk commented on #2480
Hmm, not sure how we might fix the warning.  What happens if you use
-np.inf instead?

On Fri, Mar 13, 2020 at 9:46 AM chverbeke <notifications@github.com> wrote:

[2020-03-13 14:58] chverbeke commented on #2480
Both cases (log and non-log) now give similar errors, see below (except for the RuntimeWarning which is only in the log-scale case).
However, I also tried with np.inf instead of -np.inf and that seems to run fine for the fake_amr_ds case and my own data. Not sure if this may give problems for certain other datasets though?

`/Users/christine/.local/lib/python3.7/site-packages/matplotlib/colors.py:

[2020-03-13 15:55] Provider10 opened #2481 "bug: Artio pressure field has no units"
### Bug report

**Bug summary**

The units under `HVAR_PRESSURE` are blank and consequently do not assign units to any pressure related derived field

**Code for reproduction**

[code]

**Actual outcome**

![Screen Shot 2020-02-28 at 11 28 51 AM](https://user-images.githubusercontent.com/7698003/76636594-b7302a00-651f-11ea-8f0a-4b038a6dd094.png)

**Expected outcome**

A visualization of pressure w

[2020-03-13 19:34] matthewturk commented on #2481
Hi @Provider10 !  In some other frontends, specifically chombo, we have "code pressure" defined as:

[code]

Does that match what you think ARTIO should utilize for converting the on-disk to cgs?

[2020-03-14 17:00] Provider10 commented on #2481
@matthewturk yup that's what I'm thinking. If that's what it should be, it should be an easy fix, but since I'm new to this I want to make sure I take my time and use this as a learning experience and such. I'll be a bit delayed since recent events have made research take a back seat over the past couple of days.

The thing that's baffling me a bit is that there is a comment in fields.py that list

[2020-03-14 20:34] matthewturk commented on #2481
@Provider10 take your time!

I also noticed that and I'm not sure why.  I even did some email excavation and was unable to identify any clues as to where it came from.

[2020-03-17 19:31] matthewturk opened #2486 "Athena "temperature" issue"
There is something strange going on with athena's temperature field for the case that pressure does not exist on-disk.

Unfortunately, surfacing the specific error requires changing a line of source code.  In `yt/fields/field_info_container.py` change line 47 as follows:

[code]

Now, this script, using the MHD Blast wave sample dataset:

[code]

produces this strange error:

[code]

I genuinely c

[2020-03-17 19:58] matthewturk commented on #2486
It seems that the issue is that multiplication in `unyt` is not *precisely* commutative -- changing the definition of the temperature field from

[code]

to

[code]

fixes the issue!  Only the first unit gets checked for a registry.  A hotfix here would be to change to the second definition -- not sure if that's the long-term solution.

[2020-03-17 19:58] matthewturk commented on #2486
(Also, thanks to @Xarthisius for figuring this out)

[2020-03-19 22:31] munkm commented on #2432
Resolved via yt-project/yt#2435

[2020-03-19 22:31] #2432 closed

[2020-03-20 17:30] brittonsmith commented on #2486
I believe this is the same as what was happening in PR #2454.

[2020-03-22 14:26] zingale opened #2495 "plot_2d example docs confusing"
### Bug report

**Bug summary**

The example shown here:

https://yt-project.org/docs/dev/visualizing/plots.html#plots-of-2d-datasets

shows the classic windtunnel with a step test problem.  In this problem, the left boundary is inflow and the right boundary is outflow.  When plot as shown in the example, shifting the center, the visualization is done wrapping around the data as if the domain were

[2020-03-24 16:05] matthewturk opened #2499 "Masking projections and slices from data objects in SPH"
At present, using a sphere or other region for a projection in SPH in the demeshening includes pixels that are outside of the region of interest.  This is likely because (appropriately!) the particles that contribute to the smoothing kernel are included in the data object.

Masking these somehow would be a useful step forward.
![projection_sph](https://user-images.githubusercontent.com/89019/77448

[2020-03-24 16:10] matthewturk opened #2500 "Delineate usage of strict vs non-strict selection for smoothed particles"
Strict selection may be appropriate for most data objects (especially as would be fed into a phase plot or profile plot) for smoothed particles, whereas for visualization purposes, "ghost particles" and smoothing length considerations should be taken into account.

[2020-03-24 16:25] matthewturk opened #2501 "repr for particle unions"
The `__repr__` for particle unions should include the contents of `sub_types`

[2020-03-27 19:29] #2439 closed

[2020-03-30 19:00] neutrinoceros opened #2511 "Bug in load_uniform_grid with dimensionality < 3"
### Bug report

`load_uniform_grid` supposedly supports loading 2D datasets (though it is not currently documented in the docstring), through the argument `domain_dimension`, which is a three-elements tuple where trailing "1" are interpreted as corresponding to inactive dimensions.

Creating the dataset returns no error, though `yt.plot_2d` fails to detect the data fields.

**Code for reproduction

[2020-03-30 21:12] neutrinoceros commented on #2511
as a note, in the 3D equivalent (working) case, the density field is of type `"stream"` rather than `"io"`

[2020-03-31 11:15] migueldvb opened #2512 "missing tag objects in master branch"
### Bug report

**Bug summary**

The two most recent release tags are missing in the master branch
of the yt repository.

**Code for reproduction**

Using the `git describe` command to get the most recent reachable tag from the
master branch with number of commits after tagging gives:

[code]

**Actual outcome**

These are the tags reachable from HEAD in master:

[code]

[code]

**Expected outcome

[2020-04-01 21:00] #2408 closed

[2020-04-03 13:04] munkm commented on #1974
Resolved via yt-project/yt#2417

[2020-04-03 13:05] #1974 closed

[2020-04-03 13:13] munkm commented on #1785
I think this is is satisfied now, so I'm going to close it. Feel free to reopen if you all think that yt.units still hasn't outsourced enough to unyt.

[2020-04-03 13:13] #1785 closed

[2020-04-03 13:22] munkm commented on #1416
The conda references in these docs were removed by 415efb989c2136e2b00ad199461595815ba77ec3 . Do you all think this is worth closing (@Xarthisius) as is, or should we add back in the conda references because the channel has been fixed?

[2020-04-03 13:27] munkm commented on #284
@matthewturk do we want this to be a priority? I know you've been working on volume rendering in general. I think we could close this issue and come back to it another time.

[2020-04-03 13:33] munkm commented on #284
I'm going to close for now but if somebody feels like resurrecting this issue feel free! 👻

[2020-04-03 13:33] #284 closed

[2020-04-03 13:42] munkm commented on #363
@matthewturk I think you were interested in working on this so I've assigned it to you. I know we've had some good work on ghost zones going on (e.g. yt-project/yt#2425), but I think this particular issue could use some TLC.

[2020-04-03 13:53] munkm commented on #1223
These are still separate. If somebody is interested, you can find the relevant functions here:
https://github.com/yt-project/yt/blob/master/yt/visualization/plot_modifications.py#L1897-L1968

and here:
https://github.com/yt-project/yt/blob/master/yt/visualization/plot_modifications.py#L2702-L2787

you'll also want to update the use of these functions in the docs, e.g. here: https://yt-project.org/

[2020-04-03 13:57] munkm commented on #1222
We've had some recent work on this (e.g. yt-project/yt#2466). I don't think enough has been done to close out this issue, but I think it would be worth filing smaller issues for various unsupported callbacks and dataset types so we can track the progress of this larger one.

[2020-04-03 15:17] brittonsmith commented on #2325
I just want to add one thing before this issue gets closed. There is a use case for doing weighted averages with `accumulation=True`. The main one I'm thinking of is computing the virial radius, which is defined as the radius at which the mean density **in the enclosed sphere** is some threshold value. This is case where you don't want to do the average just in the bin, but everything up to and in

[2020-04-03 15:19] matthewturk commented on #2325
I have not thought about it as deeply as you have, so I *reject* your deferral!

[2020-04-03 15:36] #2325 closed

[2020-04-03 15:38] brittonsmith commented on #2325
Then I've closed this. @claytonstrawn, if you think there's more to work out here, please feel free to reopen.

[2020-04-05 21:15] neutrinoceros commented on #2293
I just want to report evidence that this is likely a frontend-specific issue.
I tried to reproduce with fake data, here's the outcome

[code]
![nozoom_Slice_z_Density](https://user-images.githubusercontent.com/14075922/78510121-46cd9f00-7793-11ea-80bd-03ae07958e5e.png)
![zoom_Slice_z_Density](https://user-images.githubusercontent.com/14075922/78510128-4d5c1680-7793-11ea-8850-42279b41e762.png)

[2020-04-06 14:58] matthewturk commented on #1416
So I think we should close this.  In my experimental branch, I have gotten rid of cyglfw3.

[2020-04-06 14:59] #1416 closed

[2020-04-06 15:00] matthewturk commented on #284
I think it's okay to leave this closed, but it sure would be nice when we get one to reference "Issue #284".  ;-)

[2020-04-07 18:59] #2480 closed

[2020-04-08 13:46] neutrinoceros opened #2522 "Potential bug in testing fake amr dataset or Stream frontend ?"
### Bug report

I *think* something is amiss here. (grid levels appear less symmetrical than designed to)

**Code for reproduction**
[code]

**Actual outcome**
![fake_grid_level_Slice_x_grid_level](https://user-images.githubusercontent.com/14075922/78790896-75c05c80-79af-11ea-9d08-ebb06388e1e5.png)
![fake_grid_level_Slice_y_grid_level](https://user-images.githubusercontent.com/14075922/78790902-76

[2020-04-08 14:33] #2216 closed

[2020-04-08 14:44] matthewturk commented on #2522
It is actually *real*, in that this is drawn from `IsolatedGalaxy/galaxy0030/galaxy0030`.  So I think this is not a bug.

[2020-04-08 14:55] neutrinoceros commented on #2522
oh, indeed, it's even indicated in the source code 🤦‍♂
my bad, issue closed !

[2020-04-08 14:55] #2522 closed

[2020-04-08 15:34] munkm commented on #2481
Resolved via yt-project/yt#2521

[2020-04-08 15:34] #2481 closed

[2020-04-08 19:08] matthewturk opened #2523 "Implement a matplotlib transform that is unyt aware"
This may belong in `unyt`, but I thought recording it here would be less invasive for the time being.

As we're seeing with a bunch of callback issues (specifically grids, in #2293 ) the usage of code units can occasional cause problems.  We mostly address this in the codebase carefully.

But, a longer term solution *might* be to implement a `Transform` subclass for matplotlib that was `unyt` awar

[2020-04-09 14:11] #2293 closed

[2020-04-09 14:12] #2373 closed

[2020-04-12 11:19] olebole opened #2532 "cosmology_answers.yml not found on PyPI"
### Bug report

**Bug summary**

When I try to run the tests, I get a message that `cosmology_answers.yml` could not be found. While it is in the repository, it is not distributed with the PyPI tarball.

**Code for reproduction**

Just running `python3.8 -m nose -v`

**Actual outcome**

[code]

**Expected outcome**

The test passes

**Version Information**

  * Operating System: Debian unstable

[2020-04-12 12:29] olebole opened #2533 "TestColorMaps.test_make|show_colormap fails with pytest"
### Bug report

**Bug summary**

When I use `pytest` for tests, the `TestColorMaps.test_make_colormap`  and `TestColorMaps.test_show_colormaps` tests fail. Interestingly, this is not observed when running the tests with nosetest.

**Code for reproduction**

Run the tests with pytest

**Actual outcome**

[code]

**Expected outcome**

The tests succeed

**Version Information**

  * Operating System:

[2020-04-12 12:30] olebole commented on #2533
Oops, when rechecking the error this seems to be a problem in unittest...

[2020-04-12 12:30] #2533 closed

[2020-04-12 14:38] Xarthisius commented on #2532
Thanks for the report! We'll include it in the next bugfix release. In the meantime I'd suggest skipping that test for building the deb package.

[2020-04-12 18:20] olebole opened #2535 "test_multi_mesh fails on ppc64el"
### Bug report

**Bug summary**

On the Debian platform *ppc64el* (PowerPC 64 bit little Endian) the `test_multi_mesh` fails.

**Code for reproduction**

Run pytest on a ppc64el Debian machine

**Actual outcome**

[code]

**Expected outcome**

The test succeeds

**Version Information**

  * Operating System: Debian unstable, platform ppc64el
  * Python Version: 3.8
  * yt version: 3.6.0 from PyPI

[2020-04-12 19:39] munkm commented on #2512
Hi @migueldvb, the 3.5x tags should be on master now. However, the -x series the most recent release won't be on master because we do the tagging on the `stable` branch (so for now the most recent tags will be 3.5x on master and you'll be able to access the 3.6x tags on stable. The behavior you're describing is expected based on our development process, so I'm going to close this.

[2020-04-12 19:39] #2512 closed

[2020-04-13 19:10] matthewturk commented on #2535
So I'm not *sure* it's matplotlib, but I am also not 100% sure it's something obvious in yt.

I'm wondering if there is an issue with how we are handling `NaN` values, which we use to set the default background, and if matplotlib is not handling that the same on a LE arch.

[2020-04-13 20:54] neutrinoceros opened #2538 "BUG: combining set_zlim and set_unit methods doesn't work as expected"
### Bug report

**Bug summary**

zticks are improperly set when combining `plot.set_zlim` and `plot.set_unit`, resulting in a useless plot.

**Code for reproduction**
[code]
**Actual outcome**

![s11_Slice_z_density](https://user-images.githubusercontent.com/14075922/79159950-478cb380-7dd9-11ea-8018-a9177ef19dd0.png)
![s12_Slice_z_density](https://user-images.githubusercontent.com/14075922/7915995

[2020-04-15 10:43] neutrinoceros opened #2542 "Bug: colormap turbo_r is not properly registered"
### Bug report

**Bug summary**

turbo was recently added to yt, however its reversed version "turbo_r" is currently not available, which breaks the symmetry with core matplotlib and yt's own colormaps api.

**Code for reproduction**

[code]

**Actual outcome**

[code]

[2020-04-15 10:53] neutrinoceros opened #2543 "bug set_colorbar_minorticks callback has no effect"
### Bug report

**Bug summary**
title.

**Code for reproduction**

[code]

**Actual outcome**
![coucou_Slice_z_density](https://user-images.githubusercontent.com/14075922/79329348-edded300-7f17-11ea-9bcd-923d9454ee1c.png)

**Expected outcome**

The colorbar minor ticks should be visible.

**Version Information**
  * Operating System: macOS
  * Python Version: 3.8.2
  * yt version: 3.6dev1
  * matp

[2020-04-15 12:44] neutrinoceros commented on #2542
relevant PRs:
https://github.com/yt-project/yt/pull/2339
https://github.com/yt-project/yt/pull/2390

[2020-04-16 19:01] #2542 closed

[2020-04-17 13:29] munkm commented on #2433
Resolved via yt-project/yt#2434

[2020-04-17 13:29] #2433 closed

[2020-04-18 19:58] cynthiasaad opened #2550 "plot mass enclosed as a function of decreasing number density"
### Bug report

**Bug summary**
i am able to plot the mass cell as function of decreasing number density, but i want to add the mass up.  Note that i also need to specify the limits on the number density.

**Code for reproduction**

[code]

[2020-04-21 12:58] brittonsmith commented on #2550
@cynthiasaad, unfortunately yt profiles don't currently have an option to change the direction of the profiling from ascending to descending. This can be done in principle, but until then, this can be done manually in the following way:
[code]

Then, you can make your plot manually with matplotlib. To get the x values for your plot, use `prof.x`.

[2020-04-21 18:03] munkm opened #2554 "ensure release and development directions are consistent"
In preparing the yt-3.6 release and afterwards I noticed that we have differing documentation on releasing and development. I've included a few notes about it here. I will submit a PR with these fixes later, but please weigh in if you want to suggest anything.

Example1: ytep-0008 and the release documentation
see [ytep-0008](https://ytep.readthedocs.io/en/latest/YTEPs/YTEP-0008.html#long-term-sup

[2020-04-22 23:20] zackcd commented on #2476
May I try to work on this if still needed? Thanks.

[2020-04-22 23:33] matthewturk commented on #2476
Yes absolutely!!

On Wed, Apr 22, 2020, 6:20 PM Zachary Downing <notifications@github.com>
wrote:

[2020-04-25 18:17] zingale opened #2560 "region arithmetic funniness"
### Bug report

**Bug summary**

If I mix `ds.domain_left_edge` with a list composed of components of `ds.domain_*`, I get a `YTUnitOperationError`

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

I would expect to for both of these ways to compose a region to work.

**Version Information**

  * Operating System: Fedora 31
  * Python Version: 3.7.6
  * yt versi

[2020-04-25 20:39] neutrinoceros commented on #2560
I was able to reproduce this using `yt.testing.fake_amr_ds()` as a dataset, though the error I'm getting is not exactly the same but I gave some insight.
I think what's happening here is that, because of how `Dataset.box()` forces the args (left/right_edge) as numpy arrays, it behaves differently depending on the arguments' form

In this cases, here's what happens during the conversion:
- `[0.0 co

[2020-04-25 20:58] zingale commented on #2560
I tested your PR and it fixes my issue.  Thanks!

[2020-04-25 21:20] neutrinoceros commented on #2550
I edited the bug report (formatting: now we can see the embedded images)

[2020-04-27 16:07] munkm opened #2564 "annotate_clear is unclear"
This is an issue I'm raising from yt-project/yt#2498 and yt-project/yt#2562 . In that PR a new function is added that lists the existing annotations added to a plot object. Following the convention of `annotate_clear()`, which clears the annotations on the plot, the author created a method called `annotate_list()`. I think in the case of these functions, we should modify them so that the action is

[2020-04-27 16:15] #2560 closed

[2020-04-27 16:25] zingale commented on #2564
I like this name change -- it seems more natural.

[2020-04-27 18:49] brittonsmith opened #2565 "importing yt requires pytest"
Importing yt now requires `pytest` to be installed. I'm creating an issue here because I'm not sure the best solution. I see a few options:

1. add pytest to `install_requires`
2. remove `run_nose` from `yt/__init__.py` (the one import from `yt/testing.py` where `pytest` is imported.
3. import `pytest` only inside the function that uses it.

I'm happy to do this, but just don't know which would be

[2020-04-27 18:52] matthewturk commented on #2565
@brittonsmith if we jammed `import pytest` into `run_nose` would that do it?

[2020-04-27 18:54] brittonsmith commented on #2565
Yeah, I think it's actually a different function in `yt/testing.py` that needs it, but jamming it in there would work fine. I was hesitant to do that straight away because I assumed more pytest functionality would be coming soon, but I'll just go ahead and do that.

[2020-04-27 18:55] matthewturk commented on #2565
It is coming soon, but even so, I don't know that we want it as a hard dep.

On Mon, Apr 27, 2020 at 1:54 PM Britton Smith <notifications@github.com>
wrote:

[2020-04-27 18:57] brittonsmith commented on #2565
I presume at that time we can get rid of the `run_nose` import in `yt/__init__.py`. Then this won't matter.

[2020-04-27 19:04] munkm commented on #2565
+1 to this. I think we should not have pytest as a hard dep.

[2020-04-29 08:47] brittonsmith commented on #2565
Fixed in PR #2566.

[2020-04-29 08:47] #2565 closed

[2020-04-29 20:24] jcoughlin11 commented on #2564
I like this change! I issued a small PR to address this (https://github.com/yt-project/yt/pull/2569)

[2020-04-29 20:27] matthewturk commented on #2564
What if: we also added an `annotate_clearly` that took as an argument another annotation, and then what it *did* was just do that other annotation, but with a much thicker linestyle?  Like, "You can annotate velocity vectors, or you can annotate them *very clearly* like you'd used a sharpie"?

[2020-04-29 20:38] munkm commented on #2564
I think your suggestion would look amazing on a figure using the `doom` colormap, @matthewturk.

[2020-04-29 20:42] neutrinoceros commented on #2564
I agree that the new propropsed names would be clearer, but I do have a minor concern with it.
The current names allow the user to discover and learn about `annotate_list` and `annotate_clear` while playing with annotation callback through autocompletion, which I find is valuable. I think that's how I learned about them myself, I don't know if I would have liked the yt's annotation features as muc

[2020-04-29 20:47] munkm commented on #2564
Hm, that's a good point @neutrinoceros. I wonder if there's a way we could make them discoverable without having ambiguous names? In the original PR I pointed out that with `annotate_list` the function really sounds like the user would be annotating a list to their plot, not listing the annotations of the plot. I can easily see a user make this mistake with the list function (though clear is a lit

[2020-04-29 20:48] matthewturk commented on #2564
I think namespacing them would help, but is perhaps a bit too far.  For
instance, `p.annotate.vectors()` or something.  But, I agree, this is a
good point.

On Wed, Apr 29, 2020 at 3:47 PM Madicken Munk <notifications@github.com>
wrote:

[2020-04-29 20:49] munkm commented on #2564
@matthewturk I think we should allow annotate_clearly to take a series of descriptive words so that the needed emphasis can be changed by the user. For example `annotate_clearly('extra')` should result in a different linethickness than `annotate_clearly('humongous')`

[2020-04-29 20:56] neutrinoceros commented on #2564
I was thinking the same thing.
With a dedicated namespace we could write something like

[code]

[2020-04-29 20:56] munkm commented on #2564
I really like the namespacing idea and I think it would be more elegant to access the annotations. However, I'm concerned that namespacing all of our plot callbacks would be a *major* change for our users and would have to be included in a major release. Maybe we could set up the namespacing infrastructure just for operations *on* annotations (like clear and list). So annotations like`plot.annotat

[2020-04-29 21:01] neutrinoceros commented on #2564
I second @munkm 's suggestion.
I would add, but this is a matter of personal tastes, that I'd prefer the namespace be named with the _verb_ `annotate` rather than the noun `annotations`, though I'd be happy with both.

[2020-04-29 21:02] munkm commented on #2564
In this case `clear` and `list` are the verbs on the noun `annotation` though, right?

[2020-04-29 21:05] neutrinoceros commented on #2564
Indeed. As I said I have no strong opinion of what's best :-)

[2020-04-29 21:43] munkm commented on #2564
I think you bring up a good point @neutrinoceros and we need to think longer term about the namespace name!

for now I think we should allow both #2562 and #2569 to be merged with this new naming convention. Once we decide on a good namespace name (either `annotate` or `annotations`) we can submit another PR to shift them there. That should be required before the next major release.

[2020-05-01 13:53] #2543 closed

[2020-05-02 15:29] AshKelly opened #2571 "[yt-4.0] sph deposition normalization"
### Bug report

**Bug summary**

Robin Kooistra reported in the slack that the density from the mean SPH gather/scatter of gas was **way** of what it should be e.g. critical density.

The reason for this we over-normalize the results of the deposition after we have calculated the density.

Namely, the yt depositon for gas density follows Eq. 3 of the SPLASH method paper, whereas most codes follow

[2020-05-02 15:32] AshKelly commented on #2571
@matthewturk @JBorrow feel free to pitch in ideas or suggestions for this!

[2020-05-02 19:08] munkm commented on #2571
Excellent!!!!

[2020-05-03 15:54] HugoPfister opened #2573 "Issue regarding the mesh_sampling_particle_field with Ramses"
Hi all,

I tried to use the ` mesh_sampling_particle_field` with ramses following [https://yt-project.org/doc/analyzing/fields.html#mesh-sampling-particle-fields](url) **coupled** with the `bbox` from the same page. I faced some issues, which can be reproduced with `output_00080` from [https://yt-project.org/data/](url).

here is the code I tried:
[code]

=> ```YTArray([  932633.36800546, 11671881

[2020-05-03 21:55] chummels commented on #2564
As @neutrinoceros noted, when I created the `annotate_clear()` function, it was named so that it matched up with the existing annotations (e.g., `annotate_velocity()` and so it was discoverable.  I'm fine changing it.  But it may suffer that it won't be as easy for users to find.  The namespace solution helps with that, but then this current proposed naming fix just seems like a temporary switch t

[2020-05-04 09:29] cphyc commented on #2573
Thanks for the feedback @HugoPfister. I can confirm the bug is reproduced on my machine with the dataset `output_00080`, and this is due to the `cell_index` being incorrectly computed for some (62) particles.

[2020-05-04 17:49] matthewturk opened #2574 "Odd difference in sphere selection"
I've been working on #2437 and adding redundant checks to, among other things, the sphere selection.  What I'm finding is something I don't know how to interpret.  This script demonstrates it:

[code]

Note that here I am using `PartType1`, which has a smoothing length of 0.0 (i.e., it's not in `ds._sph_ptypes`).  What I see is that `v_in_good_not_bad` has a size of 1259, which is the difference b

[2020-05-04 18:48] matthewturk commented on #2574
Changing the `CHUNKSIZE` variable to something that exceeds the number of particles in the data dump fixes this.

I believe that what is happening is that something related to different particle sizes, in a given `data_file` object (which is really just a subchunk of a data file) causes an undercounting.

[2020-05-04 19:14] matthewturk commented on #2574
(I have fairly fragmented work at the moment so I am leaving this note to myself here.)

Instrumenting with a debug line in `_read_particle_fields` of:

[code]

I get this output:

[code]

versus

[code]

So for some reason, we are not asking to look at data_file 1.  Manually inspecting, that is exactly where the particles are to be found that we are not finding:

[code]

produces

[code]

So, why

[2020-05-05 03:12] JeiwHuang opened #2576 "Incorrect profile when periodicity is not explicitly set"
### Bug report

**Bug summary**

Setting the periodicity of the dataset automatically or explicitly in the script will lead to different results, even though the periodicity is the same.
For a dataset with a periodic boundary, I have to set the periodicity explicitly to get the correct profile of a sphere crossing the boundary.

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expe

[2020-05-05 17:16] Xarthisius opened #2578 "EnzoSimulation fails when initial_time is used."
### Bug report

Creating an EnzoSimulation with `initial_time` fails with `UnboundLocalError: local variable 'my_initial_time' referenced before assignment`

Originally reported by Sam Patrick on [yt-users](https://mail.python.org/archives/list/yt-users@python.org/thread/MQWKNFM5QDESIYG3JN4D3LJPPFXW24I5/)

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

**Versi

[2020-05-06 02:36] jzuhone opened #2581 "parallel cython build ends up in infinite recursion on macOS in yt-4.0"
### Bug report

**Bug summary**

We started using all available cores to build yt-4.0 from source in PR https://github.com/yt-project/yt/pull/2438. I recently tried to build on macOS and ended up in an infinite recursion. The huge traceback is here:

http://paste.yt-project.org/show/225/

**Code for reproduction**

Simply trying to install yt-4.0 from source in `python setup.py develop` or `pip in

[2020-05-06 09:00] #2578 closed

[2020-05-06 13:21] Xarthisius commented on #2581
I can't reproduce on OSX I have access to. Which compiler are you using?

[2020-05-06 13:30] jzuhone commented on #2581
[code]

[2020-05-06 13:36] jzuhone commented on #2581
This seems to be a Python 3.8 thing also.

[2020-05-06 13:42] Xarthisius commented on #2581
Could you try adding `import multiprocessing` at the top of the `setup.py` and see if that changes anything?

[2020-05-06 13:54] jzuhone commented on #2581
Sadly no. What seems to happen is that multiple copies of everything in `setup.py` runs.

[2020-05-06 18:45] #2581 closed

[2020-05-07 12:39] #2576 closed

[2020-05-18 16:32] neutrinoceros opened #2599 "CI: is appveyor still necessary ?"
A question about CI: Is the original reason for having appveyor + travis that Travis didn’t run on windows ? Apparently now it does, though with limited support. Since we don’t seem to use a very complicated configuration for appveyor, maybe it’s be worth reevalutating Travis as a windows option ?

Motivation for this inquiry: I recently cluttered the appveyor queue by pushing often (exceeding one

[2020-05-18 16:58] munkm commented on #2599
I support simplifying our CI. I'm glad we have an issue to discuss it.

Some other options that we have (disclaimer: I haven't looked too deeply into the feasibility of any of these yet) other than moving everything to Travis could be
* moving everything to circleCI, which we've talked about in the past.
* using github actions
* azure seems to have unlimited minutes for open source and 10 free par

[2020-05-18 17:29] neutrinoceros commented on #2599
quick note: circleCI's free plan doesn't include macOS -> I assume that's a deal-breaker ?

[2020-05-18 18:16] jzuhone commented on #2599
@neutrinoceros i would say it is a deal-breaker, yes.

[2020-05-18 18:34] munkm commented on #2599
This page seems to say that Xcode is in the build environments? https://circleci.com/build-environments/

[2020-05-19 09:14] neutrinoceros commented on #2599
It seems that the windows build (appveyor) started failing on every single PR, even though I'm pretty confident that most of them don't affect the build itself.
I believe this is a side-effect of one specific failure caused in #2598 , that probably corrupted the build cache. Working on a fix now, but unless I'm mistaken, this is one more reason the CI should be reevaluated.

[2020-05-19 18:11] munkm opened #2601 "[ANN] block merging on 4.0 branch"
Right now @matthewturk is working on finishing up the 4.0/master merge in yt-project/yt#2437 . Merging PRs into both master and yt-4.0 are making this PR take longer and ultimately delaying our release of 4.0. It was discussed in a triage meeting a few weeks back that we pause merges with the 4.0 branch until 2437 is completed. I've personally not been merging PRs on that branch and I suspect othe

[2020-05-19 18:28] munkm commented on #2599
Based on when PRs started failing on appveyor, that error started on commits before the first commit in 2598.

[2020-05-19 18:34] jzuhone commented on #2601
I am totally in favor of this.

[2020-05-19 22:03] neutrinoceros commented on #2599
Oh you're right, I went ahead of myself :/

[2020-05-20 10:18] brittonsmith commented on #2599
Perhaps we could save MacOS build minutes on circleci by only doing periodic nightly or weekly builds rather than building all PRs.

[2020-05-20 12:55] cyrillemidingoyi opened #2603 "Quantities with units of Fahrenheit or Celsius cannot by multiplied, divide, subtracted or added."
I try to calculate mean temperature from minimum and maximum temperature

Tmean = (Tmax + Tmin)/2 (well-known expression)

from unyt import degC

Tmax=10*degC
Tmin = 5*degC
Tmean = (Tmax+Tmin)/2

error:
Quantities with units of Fahrenheit or Celsius cannot by multiplied, divide, subtracted or added.

Why this restriction?

[2020-05-20 15:58] brittonsmith commented on #2603
Hi,
The issue with F and C is that they have an offset from 0, i.e., absolute zero in F or C is not 0. For example, a temperature twice as high as 5 C is not 10 C. Since 5 C is 278 K, double 5 C is actually 2 * (5 + 273) - 273, or 283 C. A way around this is to convert your temperatures to K for the calculation and then back again at the end.
[code]

[2020-05-20 22:42] neutrinoceros commented on #2601
I support this too !

[2020-05-23 12:51] neutrinoceros commented on #2599
github actions look very neat. Without digging too much, I have not yet found any good argument against it.

[2020-05-24 12:10] brittonsmith commented on #2599
Github actions seems good. If it works on a number of OSs and we could cut down on the services, I'd be in favor.

[2020-05-25 18:05] cavestruz opened #2608 "YTEP-0003 conventions for ARTIO"
### Bug report

**Bug summary**

ARTIO still has variable names that need to be modified to [YTEP-0003 conventions](https://ytep.readthedocs.io/en/master/YTEPs/YTEP-0003.html).

- [ ]  modify fields such as `HeIII density` -> `He_p2_density` in line 53 of yt/frontends/artio/fields.py
- [ ]  add old field names to yt/fields/field_aliases.py to allow for backwards compatibility using `ds._setup_depr

[2020-05-27 15:02] matthewturk commented on #2599
My personal preference would be to use Github actions as much as possible, and use Azure pipelines in conjunction with that.  Consolidation would be awesome.

[2020-05-27 15:02] matthewturk commented on #2599
And honestly, putting stuff like the release workflow into github actions, etc, would be great too...

[2020-05-27 15:14] munkm commented on #2599
I'm going to assign this to myself and I'll start setting up some stuff with GH actions that we can all preview to see if it's what we want.

[2020-05-29 13:54] AshKelly opened #2612 "[yt-4.0] ds bbox selection bug"
### Bug report

**Bug summary**

Building particle index with bounding box and then loading without leads to strange particle selection

[code]

**Actual outcome**

[code]

[2020-05-29 13:57] AshKelly commented on #2612
Prior to this commit
https://github.com/AshKelly/yt/commit/68068dd0212b3cb5bad2fde085ddc8be4cff4a33#diff-1ae235e0f5c43b8e79463c30ab481aef

These numbers are equal. But I think that commit was correct and this is a different bug!

[2020-05-29 14:15] AshKelly commented on #2612
I think the case might be that the particle index is bounding box specific and thus the bounding box could be incorporated into the hash, so it will gen a new particle index with loaded with a new bbox.

Otherwise, maybe the loading bounding box should be ignored during index creation and applied afterwards?

The particle index is not my area of expertise

[2020-05-29 17:20] cavestruz commented on #2608
Hi @neutrinoceros,

@provider10 has almost finished all of the changes needed according to the checklist above [in a branch off of our fork](https://github.com/cavestruz/yt/tree/issue/2608/artio-with-ytep-0003-conv).  But, we do want to make sure that folks using the other field names can easily use (and know to use) the back-compatibility functionality.  Might there be any thoughts or suggestions

[2020-05-29 17:41] neutrinoceros commented on #2608
Hi ! Can you open a PR from this branch ? it would make the review easier since the diff would immediately available.
In any case, I do have an idea how this could be implemented but I would like the opinion of more experienced yt devs on this. I'll add my idea on your PR as a comment for it to be discussed :)

[2020-05-30 23:52] zingale opened #2614 "adding a point source to VR makes volumesource vanish"
If you make a VR with a VolumeSource and add a PointSource, sometimes you will no longer see the VolumeSource.  Sometimes you can fix this by using sigma_clip values of 1000 or more, but there should be another way.

### Bug report

**Bug summary**

**Code for reproduction**

[code]

**Actual outcome**

you only see the point in this image.  If you comment out the PointSource line, then you will s

[2020-06-01 15:05] cphyc commented on #1212
After #2610 is merged, volume rendering should work with octree (such as RAMSES).

[2020-06-05 19:21] matthewturk opened #2616 "ParticleSubselectionTests for yt4-merge"
We need to add independent checks of the particle machinery in addition to answer tests:

 - [x] eagle
 - [x] gadget_fof
 - [x] flash (particle)
 - [x] owls
 - [x] rockstar
 - [x] swift
 - [x] tipsy
 - [x] ytdata (?)
 - [x] sph
 - [x] open_pmd
 - [x] art
 - [x] ahf
 - [x] arepo

Here is an example of doing this: https://github.com/yt-project/yt/blob/b20c3edbbc5b057077d12dc456974f797ce726f6/yt/fron

[2020-06-05 19:22] jzuhone commented on #2616
I can take some of these on.

[2020-06-05 19:26] matthewturk commented on #2616
I will take gadget_fof, rockstar, tipsy and open_pmd

[2020-06-05 20:52] matthewturk commented on #2616
I went ahead and implemented all of the remaining ones.

[2020-06-08 11:34] neutrinoceros opened #2619 "OffAxisProjectionPlot missing support for non cartesian geometries"
### Bug report

**Bug summary**

Seems like there is no support for off-axis projection plots in non-cartesian geometries (at least in cylindrical).
It's hard to tell from the user perspective though because the end error message seems unrelated.

**Code for reproduction**
[code]

**Actual outcome**

Something goes terribly wrong during input sanitizing
[code]

[2020-06-08 15:40] cbyrohl opened #2620 "MPI Volume Rendering - Single File Write"
### Bug report

When rendering a scene with yt using MPI and wanting to write the image to disk on rank==0 only, the inspired recipe from the documentation (https://yt-project.org/doc/analyzing/parallel_computation.html#creating-parallel-and-serial-sections-in-a-script) leads to a freeze.

While the example given in the documentation uses a ProjectionPlot as example, I think the documentation page

[2020-06-09 09:13] cbyrohl opened #2622 "MPI Volume Rendering Example"
### Bug report

Apologies, not sure whether this is a bug or it's just a minimal example for MPI volume rendering lacking. Trying to parallelize rendering in yt with MPI leaves me with only one of the spatial MPI domains being plotted, see below.

The documentation on volume rendering (https://yt-project.org/doc/visualizing/volume_rendering.html#volume-rendering) refers to another page for paralle

[2020-06-09 21:15] cphyc opened #2625 "Isosurfaces: artifacts at boundaries between different levels"
### Problem

The isosurface relies on the marching cube algorithm, which generates artifact at the boundary between grid of different densities.

### Potential improvements

There are some papers out there with possible solution to generate isosurfaces on non-uniform grids.
Here are a few resources that could be explored:
1. [Visualization of AMR Data With Multi-Level Dual-Mesh Interpolation](http

[2020-06-09 21:27] matthewturk opened #2626 "Fine-grained control over EWAH index files"
There are a number of parameters that EWAH files are dependent on:

 * The version of the bitmap indexing algorithm/implementation
 * Bounding box
 * Chunk size

Right now, we only check the first two, and the check for the second one is a simple on/off.  We should implement more fine-grained control.

[2020-06-09 21:46] matthewturk opened #2628 "Alias projection plots to particle projection plots"
yt is able to recognize when you probably want a `ParticleProjectionPlot` instead of a `ProjectionPlot`.  Maybe we should have it automatically redirect, if you use `ProjectionPlot` with a particle field.

[2020-06-09 23:30] chummels commented on #2628
Isn't this complicated by the fact that particle fields can have SPH smoothing kernels and be turned into true projection plots?  Or with the work that @qobilidop did a year or so ago, that even non-SPH particle fields can get smoothing kernels applied to them to make projection plots?  Maybe there's still a way to tell what the user wants, but it seems like this might make it a bit more challengi

[2020-06-10 01:05] matthewturk commented on #2628
So the difference in behavior I want to somehow get around is this -- if you do `yt.ProjectionPlot(ds, "x", "density")` on an SPH field, it does what you probably want.  If you do this with any field that isn't SPH, it doesn't, but instead suggests "Why not use a particle plot?"  Before, we were able to do deposition fields; now, the viz task requires a call to a different wrapper object.

[2020-06-11 15:46] matthewturk commented on #2612
So I think that what might be happening is that there's an asymmetry in loading vs caching.  Without the fix in #2624 , it's possible to load a cache if we have generated one before.  So with a bbox it will use the existing EWAH index on disk.

[2020-06-11 16:35] chummels opened #2629 "Add narrative documentation for how the demeshening works"

[2020-06-11 16:36] matthewturk commented on #2629
This is a great idea.  I think we need to expand our "yt 4 differences"
list.

On Thu, Jun 11, 2020 at 11:35 AM Cameron Hummels <notifications@github.com>
wrote:

[2020-06-11 16:41] chummels opened #2630 "Update installation documentation for yt-4.0"

[2020-06-11 17:04] AshKelly commented on #2003
I'm interested in looking into this. I know what the issue is, but I don't know the solution. I'm happy to chat with someone about this

[2020-06-11 17:05] AshKelly commented on #2612
In that case- I don't think I appreciate the difference between loading and caching...

[2020-06-11 17:06] chummels commented on #832
This topic was just discussed at a yt-4.0 release meeting.  It was agreed that in yt-4.0, we will accept both string and tuple field names.  If someone specifies a string field name and there is any ambiguity if there are two potential tuple fields that could be accessed, the code will error out with an error message requiring the user to be more explicit.

The issue was raised that it might be co

[2020-06-11 17:09] chummels commented on #1467
This topic was just discussed at a yt-4.0 release meeting. It was agreed that in yt-4.0, we will accept both string and tuple field names. If someone specifies a string field name and there is any ambiguity if there are two potential tuple fields that could be accessed, the code will error out with an error message requiring the user to be more explicit.

The issue was raised that it might be conf

[2020-06-11 17:19] cphyc commented on #1467
I just thought that maybe we would want to raise a warning when the ambiguity comes from case-insensitive cases, so that the user may realize there is a difference between `"Density"` and `"density"`?

[2020-06-11 17:56] chummels commented on #1467
I think that's reasonable to issue a non-failing warning.  So if I'm using an Enzo dataset with ("Enzo", "Density") and ("gas", "density") and I run:

[code]

yt correctly uses the ("gas", "density") field, runs the command, and returns a warning:

[code]

Or something like that.

[2020-06-11 18:00] chummels commented on #832
This issue is a repeat of Issue #1467 .  Closing this one so we are only tracking it with one issue.

[2020-06-11 18:00] #832 closed

[2020-06-11 18:00] chummels commented on #1467
Note, I am closing Issue #832 because it is a repeat of this issue.

[2020-06-11 18:05] chummels commented on #2628
Oh, that makes sense.  I think the only trick here is for it to recognize if a particle based dataset has the appropriate SPH fields, even if it isn't a native SPH dataset, but it may have had those relevant fields added with `add_sph_fields()` as per PR #2186  .  But you probably already considered that.

[2020-06-11 19:37] matthewturk opened #2631 "Voronoi mesh projections"
The routine `pixelize_sph_kernel_projection` works fine for SPH kernels.  However, for voronoi tesselations, this does not produce ideal results.  Gridding and slicing vornoi tesselations is not as tricky, as there we can set number of neighbors to 1 and use a unitary-weighted smoothing kernel.  But for projections, it's harder.

Here is an example of using the sph kernel for the arepo bullet clus

[2020-06-12 13:07] cphyc commented on #1051
After #2425 is merged, this will be a low-hanging fruit as one will just have to implement the `retrieve_ghost_zones` function for the `ARTDomainSubset` class.

[2020-06-12 13:43] neutrinoceros opened #2633 "support pathlike arguments for user-specificed files/directories"
### Bug report

So in https://github.com/yt-project/yt/pull/2405 I've added support for loading datafiles specified as `pathlib.Path` objects. I'm realizing the global api would feel more consistent if that was also supported by other functions accepting files/directories as arguments.

I can currently think of 2 places where this change would apply, `yt.utilities_load_sample()` and `yt.funcs.enab

[2020-06-12 15:21] neutrinoceros opened #2635 "configuration files and script reproducibility"
In the spirit of #2534, we could allow for "local" configuration files for yt.
For instance, yt could auto-discover a `ytrc` file by walking the directory tree downwards.
This would allow to bundle a config file in a repo containing notebooks meant for sharing and collaborative work (as is now doable with plugin files).

I note that currently, the configparser reads _several_ configurations files

[2020-06-12 15:33] matthewturk opened #2636 "load_sample should include default arguments"
Some of our datasets that can be loaded with `load_sample` require some additional arguments to be passed.  These should be included in the `load_sample` function and `sample_data_registry.json`.

[2020-06-12 19:31] AshKelly opened #2639 "[yt-4.0] ds bbox selection bug (periodicity)"
### Bug report

I've found a bug that when a `bbox` is applied to a dataset the yt selection routines return too many particles. In particular if you select a region, and ask the yt chunking system to load particles it will return some particles which *are not* in that region.

This bug goes away if you set `ds.periodicity = [False, False, False]`

The bug is caused by the variable `self.right_edg

[2020-06-15 14:40] Xarthisius opened #2642 "Saving multiple YTArrays to a single hdf clobbers the file"
Writing more than one YTArray to a single hdf5 file clobbers the file during each write.

**Code for reproduction**
Taken straight from http://yt-project.org/docs/dev/analyzing/units/symbolic_units.html with minor modifications:

[code]

**Actual outcome**
[code]

**Expected outcome**

[code]

**Version Information**
  * Operating System: Ubuntu 18.04.4 LTS
  * Python Version: 3.6.9
  * yt version

[2020-06-15 19:22] #2642 closed

[2020-06-19 00:01] claytonstrawn opened #2646 "Newest Version of Numpy does not work [have to degrade to 1.16.0]"
### Bug report

**Bug summary**

If you upgrade to the most recent numpy version, yt.load does not function correctly

**Code for reproduction**

pip install --upgrade numpy
python

**Actual outcome**

[code]

This seems to be the same on all branches of yt. I was able to fix it by downgrading to `numpy 1.16.0` so I know it's a numpy dependency.

[2020-06-19 00:26] munkm commented on #2646
Hi Clayton,

I've verified this issue on my machine in the art frontend.

I'm working on a fix. It looks like we have a similar issue as one of the fixes applied in https://github.com/yt-project/yt/pull/2448. I'll tag you when I submit the PR.

[2020-06-19 08:39] neutrinoceros opened #2647 "Missing machinery for frontend-specific deprecated field names"
### Report

In the discussion around #2613, @brittonsmith proposed that we add a mechanism to attach deprecated field names to specific frontends. Currently all deprecated field names are stored in `yt/fields/field_aliases.py`.

It seems likely to me that _all_ field names collected in this file are in fact meant to support a specific frontend, and maybe it they can be traced back with git blame.

[2020-06-19 08:41] neutrinoceros opened #2648 "Missing machinery for frontend-specific deprecated field names"
### Report

In the discussion around #2613, @brittonsmith proposed that we add a mechanism to attach deprecated field names to specific frontends. Currently all deprecated field names are stored in `yt/fields/field_aliases.py`.

It seems likely to me that _all_ field names collected in this file are in fact meant to support a specific frontend, and maybe it they can be traced back with git blame.

[2020-06-19 08:42] neutrinoceros opened #2649 "Missing machinery for frontend-specific deprecated field names"
### Report

In the discussion around #2613, @brittonsmith proposed that we add a mechanism to attach deprecated field names to specific frontends. Currently all deprecated field names are stored in `yt/fields/field_aliases.py`.

It seems likely to me that _all_ field names collected in this file are in fact meant to support a specific frontend, and maybe it they can be traced back with git blame.

[2020-06-19 08:49] #2648 closed

[2020-06-19 08:49] #2649 closed

[2020-06-19 08:52] neutrinoceros commented on #2646
note, this also looks related to #2419

[2020-06-19 14:01] munkm commented on #2649
I'm confused, why were there three issues all with this name?

[2020-06-19 14:03] neutrinoceros commented on #2649
Because I submitted this while on a train and went into network issues.

[2020-06-19 16:35] Provider10 commented on #2608
This issue is addressed with [PR 2613](https://github.com/yt-project/yt/pull/2613) and I think should be closed.

[2020-06-19 16:37] neutrinoceros commented on #2608
Agreed, thanks for reminding me !

[2020-06-19 16:37] #2608 closed

[2020-06-19 18:30] chummels opened #2651 "Creation of any region fails under yt-4 on windows installation"
### Bug report

**Bug summary**

I've installed the tip of the yt-4.0 branch on a windows virtualbox instance, and most basic functionality seems to fail due to a common error: `ParticleBitmap.load_bitmasks()`.  I've included what I thought was the simplest code for reproduction, but this occurs if you try to access any data with `ds.r[('gas', 'temperature')]` in particle-based datasets.  Note, th

[2020-06-19 18:32] matthewturk opened #2652 "mu is italicized when it's showing "micro""
After https://github.com/yt-project/unyt/pull/153 (which I issued and campaigned for) the mu symbol is now italicized when yt creates the labels for plots.  I believe this is in error.

I'm filing this issue because I don't think it should block yt-4.0 -> mainline.  But, we'll need to return to it.

[2020-06-19 18:35] matthewturk commented on #2652
Never mind!  I am wrong.  I had the plots backwards.

[2020-06-19 18:35] #2652 closed

[2020-06-19 18:53] matthewturk opened #2653 "field type and particle type should be part of default save() prefixes"
As evidenced in `particle_filter.py` in the cookbook, if you have multiple particle types added to a single `ParticleProjectionPlot`, with the same field for each, only the last one will be saved out as the prefix generation doesn't take into account the particle type names.

[2020-06-19 18:57] matthewturk commented on #2651
It should be detecting and removing existing EWAH files.  Can you try removing any EWAH files and trying again?

[2020-06-19 19:15] chummels commented on #2651
It doesn't appear that any EWAH files have been created at all for this dataset.  I don't see any in the directory where the dataset exists, nor in the directory where I'm running the script.  I tried moving the datafile to a different directory entirely and re-running the script and it fails at the same point, after it has read in the coarse indices but before it's able to generate the refined in

[2020-06-19 19:19] matthewturk commented on #2651
Hmm, interesting.

To work around issues on windows, we changed the size of the word to 32 bits.  What that error is suggesting is that the type size has a mismatch somewhere.  We did have some issues with Windows, which @jzuhone worked on in WSL, so it's possible there is another edge case that is breaking it.

But on the plus side, this is all happening in the type of the headers.  So that's int

[2020-06-19 19:33] chummels commented on #2651
Yeah, this is a fresh install with virtually no other changes on the system.  I'm actually testing it out because a trident user with a windows machine was encountering this problem, so I wanted to be able to reproduce it.  I'm happy to help diagnose this, but I'm really unfamiliar with this section of the code.  But if you give me a corner I can dig into, I might be able to help more?  Or maybe @

[2020-06-19 19:56] matthewturk opened #2655 "sph_answer test miscalculates particle counts"
The particle counts in some of the `sph_answer` results are miscalculated in the *test* files -- not by the routines.

For instance, the `test_arepo_bullet` function assers that the particle count is 40193369.  But, there are 12865831 of `PartType0`, 13368238 of `PartType1` and 295531 of `PartType4`.

That gives us a total of 26529600 particles, which is not the asserted 40193369!  But, oddly enou

[2020-06-19 22:41] jzuhone commented on #2651
I can have a look

[2020-06-20 17:13] matthewturk opened #2656 "Periodicity for particle datasets should be handled more gracefully"
Particle datasets that are not periodic should not throw errors when we try to read off the edge of the domain.

And, we should be more careful with periodicity and `bounding_box` filtering.

[2020-06-20 17:27] matthewturk opened #2657 "Identify correct behavior for region selector in `unitary` coordinates."
For a dataset that spans -1 to 1, the "unitary" coordinate system sets 2.0 to be unitary.  Selecting a region using the `ds.r[]` notation from 0.0 to 0.5 unitary will select from `code_length` values of 0 to 1.  This is somewhat non-intuitive, as some (myself included) may expect unitary to *start* at the domain's left edge.

One way this could be addressed would be to define the `unitary` unit wi

[2020-06-20 18:10] matthewturk opened #2659 "Verify GadgetBinary chunking correctly"
Reading the GadgetBinary IO class, the chunking via `start` and `end` on data files may not have been implemented correctly.  This needs another set of eyes.

[2020-06-20 18:22] matthewturk commented on #2655
My description was backwards; I filed this to track the fact that we didn't know why the numbers in the `test_outputs.py` file were wrong.  I'm closing it, as I have updated the `test_outputs.py` file, and I think the issue was a double counting using `particle_types` in a script rather than `particle_types_raw`.

[2020-06-20 18:22] #2655 closed

[2020-06-22 17:00] Xarthisius opened #2662 "RecursionError while loading enzo_p dataset with cosmology"
### Bug report

**Bug summary**

Loading a cosmological Enzo_p dataset raises `RecursionError`

**Code for reproduction**

[code]

**Actual outcome**

[code]

**Expected outcome**

Just happiness

**Version Information**

  * Operating System: Ubuntu 18.04.4 LTS
  * Python Version: 3.6.9
  * yt version: b6d9463b287099685800353fd6293dffa4bace9d
  * Other Libraries (if applicable): unyt==2.7.1

[2020-06-22 18:02] neutrinoceros opened #2664 "Failling unit-to-str test"
### Bug report

this bug was apparently introduced with the merging of. #2437

This possibly belongs in unyt

**code for reproduction**
[code]

**actual outcome**
[code]

versions:
yt: master (b6d9463b)
unyt: 2.7.1

[2020-06-23 04:00] jzuhone commented on #2651
@chummels I can't reproduce this, but I think the reason is because the Miniconda that you linked to is the 32-bit Python installation, not the 64-bit one. This explains why the error you're seeing is complaining about unsigned int types.

The Miniconda installer you need is this one:

https://repo.anaconda.com/miniconda/Miniconda3-latest-Windows-x86_64.exe

Note the one you listed was missing the

[2020-06-23 07:59] caicairay opened #2665 "Generic AMR loader fail to find cell edge & grid edge alignment"
### Bug report

**Bug summary**
Generic AMR loader fail to find cell edge & grid edge alignment
Giving error:
`yt.utilities.exceptions.YTIllDefinedAMR: Grids on the level 2 are not properly aligned with cell edges on the parent level (x axis)`

At line 905 in data_structures.py, it trying to find cell edge & grid edge alignment by set subtraction. But somehow array generated by Numpy linspace is n

[2020-06-23 08:10] neutrinoceros commented on #2665
Hi, could you specify which frontend you are using, please ? `data_structure.py` is the name of many files in yt, one for each frontend.
Also, it'd be really helpful to see the code that's actually triggering the error. :-)

[2020-06-23 08:56] caicairay commented on #2665
Hi, it is the `stream` frontend. Sorry I didn't realise there are so many `data_structure` files.

I tried to reproduce the error in a short script,
[code]

it gives error
[code]

I printed out `grid_left_edges[idx,iax]`, `cell_edges` and `set(grid_left_edges[idx, iax]) - set(cell_edges)`
they are
[code]
So 0.0225 is in the list, but set subtraction don't think they are the same.

Change data type

[2020-06-23 09:01] neutrinoceros opened #2666 "Flake-8 bugbear errors (YTEP00037)"
### Bug report

**Bug summary**

I proposed adding the flake8 plugging bugbear to our CI-linting stage in YTEP0037. Here's a report of edgy behaviours these additional linting rules catch:

**Code for reproduction**

[code]

**Actual outcome**

[code]

full report [bugbear.log](https://github.com/yt-project/yt/files/4818265/bugbear.log)

For instance B302 (Python 3 does not include `.view*` method

[2020-06-23 09:24] neutrinoceros commented on #2665
Thank you ! I was able to reproduce this.

Yes so I think that the list you showed above are rounded views on the numpy arrays, and when you convert to sets, you can see that the float in `cell_edges` is actually `0.022499999999999992`.

That's a floating point computations for you... I don't know how to address this correctly. @matthewturk , I know you've been scratching your head a lot with thos

[2020-06-23 12:32] brittonsmith commented on #2662
So this is fixed now?

[2020-06-23 13:30] #2662 closed

[2020-06-24 00:13] chummels commented on #2651
@jzuhone You are absolutely correct.  The problem was in the fact that I was using a 32-bit Python installation through conda.  When I re-installed conda using the 64-bit Windows py3.7 installer, this problem goes away and yt operates properly.  I had mistakenly thought that since I was installing Windows as a VirtualBox instance on a OS X install that was itself 32-bit, that things had to remain

[2020-06-24 00:13] #2651 closed

[2020-06-24 17:46] Xarthisius opened #2682 "SPH pixelization routine is slow"
### Bug report

**Bug summary**

One of the cookbook recipes takes a lot of time on testing box:

[code]

I think that the `pixelize_sph_kernel_projection` could be easily parallelized to circumvent this.

[2020-06-24 18:49] matthewturk commented on #2682
I poked a little bit at it and was able to get a minor speedup at the cost of some additional complexity (in the neighborhood of 20% maybe?) by doing this diff:

[code]

but I'm not sure it's worth the additional complexity, and the speedup from parallelization is better anyway.  This is one of those things that would be really well-suited to GPU computation.

[2020-06-24 18:54] Xarthisius commented on #2682
Just noting that this method became serial instead of parallel with https://github.com/yt-project/yt/commit/afc2b0c11633aa873f567d6fc5999db7f906509b and it also shows there are other places where parallelization should be restored.